// Carousel
.carousel-control {
    width: 3em;
    z-index: 11;
    .icon-next, .icon-prev {
        font-size: 3em;
        width: 1em;
        height: 1em;
        margin-top: -.5em;
    }
}

.carousel-indicators {
    bottom: unset;
    left: unset;
    right: 15px;
    top: -20px;
    margin: 0;
    width: initial;
    li {
        border-color: $grey;
    }
    .active {
        background-color: $grey;
    }
}

.carousel-caption {
    position: relative;
    right: unset;
    left: unset;
    padding: 0;
    color: $text-color;
    text-shadow: none;
    text-align: inherit;
    bottom: 0;
}
