// CKEditor
.cke_editable {
    padding: 0 $grid-gutter-width / 2;
    // NOT accurate for wysiwyg (prevent 'normal' layout margin/padding)
    div[class*="partners-colored-background"] {
        margin-left: -$grid-gutter-width / 2;
        margin-right: -$grid-gutter-width / 2;
    }
    .ckeditor_links {
        display: none !important;
    }
    img {
        max-width: 100%;
    }
}
body .cke_combopanel {
    width: 250px;
    height: 300px;
}
.cke_panel_block {
    .cke_panel_listItem {
        position: relative;
    }
    //
    a[title="Arrow"] {
        heigh: 60px;
        padding-top: 30px;
    }
}
