//
// Land Portal BootStrap Theme (LPBS)
//
// Author: Jules <jules@ker.bz>
//
// Colors settings + mapping
//

// Force all text to display in that color
@mixin colored-text($color: white, $link: false) {
    color: $color;
    .form-group > .control-label,
    h1, h2, h3, h4, h5, p, span {
        color: $color;
    }
    @if $link {
        a {
            color: $link;
        }
    }
}

// color the background-color
// text is the font/text color
@mixin landportal-background($color, $text: white, $link: false) {
    background-color: $color;
    @include colored-text($text, $link);
    //@if $color != $white
    .field-name-field-doc-description &,
    .field-name-description-field &,
    .field-name-body & {
        padding: $grid-gutter-width / 2;
    }
}

@mixin view-more($color) {
    .more-link {
        padding: 5px 15px;
        @include border-radius($border-radius-base);
        @include landportal-background($color, white, white);
    }
}

// Drop shadows.
@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
          box-shadow: $shadow;
}

@mixin colored-dash($color, $size) {
    //position: absolute;
    border-bottom: 3px solid $color;
    content: " ";
    width: $size;
    display: block;
}

@mixin transparent-background($bg, $color) {
    background-color: rgba($bg, .7);
    padding: $grid-gutter-width / 2;
    @include colored-text($color);
}

@mixin landportal-background-shadow() {
    @include box-shadow(3px 5px 10px $grey);
}


//
// Standard LP style class
//
// used in the WYSIWYG
.bg-grey {
    @include landportal-background($bg-grey, $black);
}
.bg-green {
    @include landportal-background($bg-green, $white, $white);
}
.bg-blue {
    @include landportal-background($bg-blue, $white, $white);
}
.bg-red {
    @include landportal-background($bg-red, $white, $white);
}
.bg-white {
    @include landportal-background($white, $black);
}

.top-blue {
    border-top: 3px solid $bg-blue;
}
.top-green {
    border-top: 3px solid $bg-green;
}
.top-red {
    border-top: 3px solid $bg-red;
}

.font-grey {
    color: $font-grey;
}


// Content with a background-color on aside
body:not(.page-node-edit).node-type-sdgi .region-content .node-sdgi,
body:not(.page-node-edit).node-type-dataset .region-content .node-dataset,
body:not(.page-node-edit).page-taxonomy-term .region-content .vocabulary-datasets,
body:not(.page-node-edit).page-taxonomy-term .region-content .vocabulary-indicators {
    .group-aside {
        @include landportal-background($bg-grey, $black);
    }
}
.region-sidebar-second {
    @include landportal-background($bg-grey, $black);
}


//
// Color mapping
//

// Pages top colored border line
#page-header {
    background-color: $bg-grey;

    // Countries landing page
    // @todo add theme class from breadcrumb? node path?
    .page-node-14170 &,
    .page-node-42583 &,
    .page-node-42584 &,
    .page-node-42585 &,
    // Country related content views
    .page-countries &,
    // Geo tax. page
    .page-taxonomy-regions &,
    // Country narrative page
    .node-type-landbook-country & {
        border-bottom: 5px solid $ct-country;
    }
    // Issues pages
    .page-node-42574 &,
    .page-node-42575 &,
    .page-node-42576 &,
    .page-node-42577 &,
    .page-node-52263 &,
    .page-node-61098 &,
    // Country related content views
    .page-issues &,
    .page-taxonomy-themes &,
    .node-type-sdgi &,
    .node-type-thematic-narrative & {
        border-bottom: 5px solid $ct-thematic;
    }
    // Discussions pages
    .page-node-14165 &, // en
    .page-node-70929 &, // fr
    .page-node-70930 &, // es
    .page-node-70931 &, // pt
    .page-node-63181 &, // Archives
    .page-debates &, // Pages under /debates
    .node-type-debate & {
        border-bottom: 5px solid $ct-debate;
    }
    // Data pages
    .page-node-44023 &, // Data page
    .page-node-70948 &, // fr
    .page-node-70949 &, // es
    .page-node-70950 &, // pt
    .page-node-14171 &, // DS page
    .page-node-42568 &, // DS es
    .page-node-42569 &, // DS pt
    .page-node-42570 &, // DS fr
    .page-node-14172 &, // IND page
    .page-node-42571 &, // DS es
    .page-node-42572 &, // DS pt
    .page-node-42573 &, // DS fr
    .page-node-14173 &, // Sources
    .page-node-42555 &, // DS fr
    .page-node-42556 &, // DS es
    .page-node-42557 &, // DS pt
    .page-taxonomy-datasets &,
    .page-taxonomy-indicators &,
    .page-node-92737 &,
    .node-type-dataset & {
        border-bottom: 5px solid $ct-data;
    }
    // Library
    .page-node-10158 &,
    .page-node-11326 &,
    .page-node-11471 &,
    .page-node-28432 &,
    .page-node-42169 &, // Sources
    .page-node-42474 &,
    .page-node-42477 &,
    .page-node-42478 &,
    .page-library-search &,
    .node-type-landlibrary-resource & {
        border-bottom: 5px solid $ct-library;
    }
    // News & Events
    .page-node-10066 &,
    .page-node-10073 &,
    .page-node-10076 &,
    .page-node-28430 &,
    .page-node-14166 &, // blogs
    .page-node-42120 &, // events
    .page-node-63186 &, // events archives
    .page-node-51582 &, // news
    .node-type-blog-post &,
    .node-type-event &,
    .node-type-news & {
        border-bottom: 5px solid $ct-news;
    }
    // Community
    .page-node-14168 &,
    .page-node-42565 &,
    .page-node-42566 &,
    .page-node-42567 &,
    .page-node-63185 &, // organizations
    .page-node-63184 &, // people
    .page-user &,
    .page-organizations &,
    .node-type-organization & {
        border-bottom: 5px solid $ct-community;
    }
    // About
    .page-node-6900 &,
    .page-node-6901 &,
    .page-node-6902 &,
    .page-node-28493 &,
    .page-node-28403 &, // donate
    .page-node-28404 &,
    .page-node-28405 &,
    .page-node-43628 &, // what we do
    .page-node-70634 &, // get involved
    .page-node-30375 &, // contact
    .page-node-31319 &,
    .page-node-35240 &,
    .page-node-35244 &,
    .node-type-page42 & {
        border-bottom: 5px solid $ct-landportal;
    }
    
    // Land Portal main navigation menu
    .region-header #block-menu-landportal-menu {
        ul.nav > li {
            display: inline-block;
            a[href$="countries"] {
                color: $ct-country;
            }
            .dropdown-menu[about="countries"] > .active > a {
                background-color: $ct-country;
            }
            a[href$="thematic"] {
                color: $ct-thematic;
            }
            .dropdown-menu[about$="thematic"] > .active > a {
                background-color: $ct-thematic;
            }
            a[href$="join-debate"] {
                color: $ct-debate;
            }
//            a[href$="debates"] {
//                color: $ct-debate;
//            }
            .dropdown-menu[about$="debates"] > .active > a {
                background-color: $ct-debate;
            }
            a[href$="data"] {
                color: $ct-data;
            }
            // geoportal
            a[href^="http"] {
                color: $ct-geoportal;
            }
            a[href$="issues"], a[href$="thèmes"], a[href$="temáticas"], a[href$="temas"] {
                color: $ct-thematic;
            }   
            ul {
                li {
                    a[href^="http"] {
                    color: inherit;
                    }
                }
            }
            .dropdown-menu[about$="join-debate"] > .active > a {
                background-color: $ct-geoportal;
            }
            .dropdown-menu[about$="data"] > .active > a {
                background-color: $ct-data;
            }
            a[href$="library"] {
                color: $ct-library;
            }
            .dropdown-menu[about$="library"] > .active > a {
                background-color: $ct-library;
            }
            a[href$="news-events"] {
                color: $ct-news;
            }
            .dropdown-menu[about$="news-events"] > .active > a {
                background-color: $ct-news;
            }
            a[href$="community"] {
                color: $ct-community;
            }
            .dropdown-menu[about$="community"] > .active > a {
                background-color: $ct-community;
            }
            &.active {
                // See above border height
                margin-bottom: -5px;
                padding-bottom: 5px;
                background-color: white;
            }
        }
    }
}

//
// Font colors / mainly block titles
//
#block-views-country-narrative-highlight,
#block-views-promoted-country {
    @include view-more($ct-country);
    .block-title, .block-title a {
        color: $ct-country;
    }
}

#block-views-promoted-thematic {
    @include view-more($ct-thematic);
    .block-title, .block-title a {
        color: $ct-thematic;
    }
}

#block-views-lbdat-view-highlight,
#block-views-lbdat-view-latest,
#block-views-promoted-data {
    @include view-more($ct-data);
    .block-title, .block-title a {
        color: $ct-data;
    }
}

section[id^="block-views-"][id$="-library"],
#block-views-promoted-library {
    @include view-more($ct-library);
    .block-title, .block-title a {
        color: $ct-library;
    }
}

#block-views-news-overview,
#block-views-thematic-content-news,
#block-views-country-content-news {
    @include view-more($ct-news);
    .block-title, .block-title a {
        color: $ct-news;
    }
}

#block-views-debates-open,
#block-views-debates-past,
#block-views-thematic-content-debates,
#block-views-country-content-debates,
#block-views-debates-latest,
#block-views-promoted-discussions {
    @include view-more($ct-debate);
    .block-title, .block-title a {
        color: $ct-debate;
    }
}

#block-views-events-past,
#block-views-thematic-content-events,
#block-views-country-content-events,
#block-views-events-promoted,
#block-views-events-latest,
#block-views-promoted-events {
    @include view-more($ct-event);
    .block-title, .block-title a {
        color: $ct-event;
    }
}

#block-views-thematic-content-blogs,
#block-views-country-content-blogs,
#block-views-blog-promoted,
#block-views-blog-latest {
    @include view-more($ct-blog-post);
    .block-title, .block-title a {
        color: $ct-blog-post;
    }
}

#block-views-thematic-content-partners,
#block-views-country-content-partners,
#block-views-org-view-all,
#block-views-org-view-promoted {
    @include view-more($ct-organization);
    .block-title, .block-title a {
        color: $ct-organization;
    }
}

#block-views-projects-promoted,
#block-views-promoted-projects {
    .block-title, .block-title a {
        color: $ct-partners;
    }
}

// Teaser decoration
.node-teaser {
    &.node-landbook-country {
        border-top: 5px solid $ct-country;
    }
    &#node-52263, // SDGs
    &.node-thematic-narrative {
        border-top: 5px solid $ct-thematic;
    }
    &.node-dataset {
        border-top: 5px solid $ct-data;
    }
    &.node-landlibrary-resource {
        border-top: 5px solid $ct-library;
    }
    &.node-news {
        border-top: 5px solid $ct-news;
    }
    &.node-debate {
        border-top: 5px solid $ct-debate;
    }
    &.node-event {
        border-top: 5px solid $ct-event;
    }
    &.node-blog-post {
        border-top: 5px solid $ct-blog-post;
    }
    &.node-organization {
        border-top: 5px solid $ct-organization;
    }
    &.node-partners {
        border-top: 5px solid $ct-partners;
    }
}

.taxonomy-teaser {
    &.vocabulary-datasets {
         border-top: 5px solid $ct-data;
   }
    &.vocabulary-indicators {
         border-top: 5px solid $ct-ind;
   }
}
.taxonomy-custom_teaser_ {
  border-top: 5px solid $ct-ind;
}
