//
// Land Portal BootStrap Theme (LPBS)
//
// Author: Jules <jules@ker.bz>
//

//
// LP Nodes & Content
//
// Vertical Teasers
@mixin lp-teaser-full-width() {
    max-height: initial;

    > header > .field,
    > .location-locations-display,
    > .field {
        @include make-xs-column(12);
        padding-left: 0;
        padding-right: 0;
    }
    > footer,
    .field-name-field-user,
    .field-name-field-facilitators,
    .field-name-field-doc-description,
    .field-name-body {
        display: none;
    }

    // Sticky nodes have a colored bg indent title
    &.node-sticky .field:not(.field-name-field-image) {
        padding-left: $grid-gutter-width / 2;
        padding-right: $grid-gutter-width / 2;
    }
    &.node-landlibrary-resource,
    &.node-debate,
    &.node-event,
    &.node-news,
    &.node-blog-post {
        min-height: 350px;
    }
    &.node-organization {
        text-align: center;
        .field-name-field-organization-type {
            display: none;
        }
        > header {
            > .field-name-title-field {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: none;
                font-size: $font-size-normal;
                // put text at the bottom
                > .field-items {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                }
            }
            &:hover > .field-name-title-field {
                @include landportal-background(rgba($black, .7), white, white);;
                display: block;
            }
            > .field-name-field-image {
                padding: 0;
                //padding-bottom: 0;
            }
        }
    }

    // Allow image to align vertically (in a square)
    // based on 220*220px images
    &.node-organization {
        > header > .field-name-field-image {
            display: table;
            width: 100%;
            height: 180px;
            @media #{$tablet} {
                height: 220px;
            }
            @media #{$wide} {
                height: 160px;
            }
            > .field-items {
                display: table-cell;
                vertical-align: middle;
            }
            img { width: auto; }
        }
    }
}

//
// This makes the 'main' region content and sidebar
// Overflow on top of the page header
//  (only if page-with-image class is present in the body)
//
@mixin lp-content-overflow() {
    @media #{$tablet} {
        // Not on node edit page
        &.page-with-image:not(.page-node-edit) {
            .region-sidebar-second,
            .region-content {
                position: relative;
                background-color: $white;
            }
            &.one-sidebar {
                #block-system-main {
                    padding-top: $grid-gutter-width / 2;
                    padding-left: $grid-gutter-width / 2;
                    padding-right: $grid-gutter-width / 2;
                }
            }
            .region-content {
                .group-aside,
                .group-main {
                    background-color: $white;
                }
                // To give main content stuff 'space'
                .group-main {
                    padding-top: $grid-gutter-width / 2;
                    padding-left: $grid-gutter-width / 2;
                    padding-right: $grid-gutter-width / 2;
                }
                // for force element background to apply
                display: inline-block;
                margin-top: -10%;
                .group-aside {
                    margin-top: -10%;
                }
            }
            .region-sidebar-second {
                margin-top: -20%;
            }
        }
    }
}


    
//
// Special image style
// See also image hack in templates/system/field.vars.php
// Make sure it applies to and only to the CTs for which the hook is set for in the theme
//
@mixin landportal-image-full-blured() {
    > .field-name-field-image {
        @media #{$mobile} {
            margin-left: -15px;
            margin-right: -15px;
        }
        .field-item:first-of-type {
            img {
                width: unset;
                max-height: 320px;
                @include box-shadow(1px 1px 2px -1px $black);
            }
        }
        // blured background image
        .field-item:nth-child(2) {
            position: absolute;
            overflow: hidden;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: -2;
            @media #{$tablet} {
                max-height: 260px;
                bottom: $grid-gutter-width;
            }
            img {
                filter: blur(5px);
                //transform: scale(1.05);
                height: auto;
                @media #{$tablet} {
                    margin-top: -100px; // offset image
                }
            }
        }
    }
}

@mixin landportal-image-full() {
    > .field-name-field-image {
        @include landportal-layout-full(false);
//        max-height: 320px;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
        }
    }
}
