//
// Land Portal BootStrap Theme (LPBS)
//
// Author: Jules <jules@ker.bz>
//
// Basic HTML / Drupal elements
//

iframe[name="google_conversion_frame"] {
    display: none;
}

img {
    max-width: 100%;
    height: auto;
}


//
// Tables
//
table {
    thead {
        font-family: $headings-font-family;
        font-weight: 600;
    }
}



//
// Images
//
figure.image {
    display: inline-block;
    img {
        z-index: 7;
    }
    figcaption {
        position: relative;
        //margin-top: -2.1em;
        padding: 1em 0;
        font-weight: bold;
    }
}
// Media (drupal module)
.media_embed iframe {
    width: 100%;
}



//
// List elements
//
.cke_editable,
.node #comments,
.node .field-name-body {
    ul:not(.list-inline) {
        list-style-type: none;
        padding-left: 40px;
        li {
            position: relative;
            padding-bottom: 15px;
        }
        li:before {
            @include colored-dash($green-dark, 30px);
            position: absolute;
            left: -40px;
            top: .7em;
        }
    }
}



//
// Text elements
//
blockquote {
    border-left: 0;
    &:before,
    &:after {
        color: $red;
    }
    &:after {
        content: "”" !important;
        position: absolute;
        right: 0;
    }
    &:before {
        content: "“" !important;
        float: left;
        margin-left: -1.2em;
    }
}



//
// Bootstrap, Drupal & other modules elements
//
.breadcrumb {
    @include border-radius(0);
    margin-bottom: 0;
    padding: $grid-gutter-width / 2;
    @extend %lp-font-alt;
    font-size: $font-size-small;
    color: $grey;
    background-color: white;
    a { color: $blue-link; }
}

// Drupal primary & seconday tabs
// for actions / tasks
ul.nav.tabs--primary {
    position: absolute;
    right: 0;
    z-index: 999;
    padding-right: $grid-gutter-width / 2;
    margin: $grid-gutter-width / 2 0;
    li {
        float: none;
        a {
            color: $lpb-bluesky;
            background-color: rgba(255, 255, 255, .7);
            //font-size: .8em;
            padding: .25em .5em;
            margin: 0 $grid-gutter-width / 3 $grid-gutter-width / 3 0;
            border-color: $grey-light;
            @include border-radius(8px 0 8px 0);
            &:hover {
                background-color: $bg-grey;
            }
        }
    }
}

// Panels
.panel {
    margin: 0;
}
.panel-default {
    position: relative;
    border: 0;
    background-color: inherit;
    @include box-shadow(none);
}
.panel-heading {
    margin: $grid-gutter-width / 2 0;
    a:hover, a {
        text-decoration: none;
        //&.panel-title { }
        color: $link-color;
    }
    .panel-title {
        @include lp-title(16px);
    }
    // Applies to???
    .field-label {
        font-family: $headings-font-family;
        color: $grey-dark;
    }
}
.panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-body {
    border: 0;
    padding: 0;
    //margin: $grid-gutter-width / 2 0;
}

// Collapsible
fieldset.collapsible {
    >.panel-heading {
        &:hover a,
        &:hover:before {
            color: $green;
            border-color: $green;
        }
    }
    .panel-title:after {
        float: right;
        @include fa-icon();
        content: $fa-var-angle-down;
    }
    &:not(.collapsed) .panel-title:after {
        content: $fa-var-angle-up;
    }
}

// Labels
.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: $label-color;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  // Empty labels collapse automatically (not available in IE8)
  &:empty {
    display: none;
  }

  // Quick fix for labels in buttons
  .btn & {
    position: relative;
    top: -1px;
  }
}

// For Bootstrap accordion View
.views-bootstrap-accordion-plugin-style .accordion-toggle {
    display: block;
    //padding: 5px;
    //padding-left: $grid-gutter-width / 2;
}



//
// Icons style for Glyphicon and FontAwesome
//
.glyphicon-info-sign {
    color: $green;
}

.fa-border {
    padding: .2em .4em;
    border-color: white;
    @include border-radius(50%);
}

// External links decoration
// Do not decorate in those elements
body>footer,
#page-header,
#navbar {
    span.ext {
        display: none;
    }
}

.node-type-project.no-sidebars.page-node .page-header {
//  margin: 0 auto !important;
//  width: 100% !important;
}
