//
// Drupal fields & elements
//

// Images
// inside a body field
.field-name-body img,
.field-name-comment-body img {
    max-width: 100%;
    height: auto;
}
// inside a field
.field-name-field-image img:not(.file-icon) {
    width: 100%;
    height: auto;
}

// Dates
fieldset.date-combo {
    .date-padding {
        @include make-row();
        > .form-item {
            @include make-sm-column(6);
        }
    }
}



//
// Icons for Specific fields
//

.lp-glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin field-glyphicon($icon, $position: 'before') {
    &:#{$position} {
        @extend .lp-glyphicon;
        content: $icon;
        vertical-align: middle;
        padding: 0 3px 3px;
    }
}

// field decoration in nodes
.node-listing,
.node-teaser {
    // Make Location and Datetime fields appear inline
    .field-name-field-user,
    .field-name-field-facilitators,
    .field-name-field-authors,
    .location-locations-wrapper,
    .location-locations-wrapper .location,
    .field-type-datetime .field-item {
        display: inline;
    }
    .field-name-field-user,
    .field-name-field-facilitators,
    .field-name-field-authors {
        .field-label {
            display: none;
        }
        .field-items {
            @include field-glyphicon($glyphicon-user);
        }
    }
    .field-type-datetime .field-item {
        @include field-glyphicon($glyphicon-calendar);
    }
    .location-locations-wrapper {
        @include field-glyphicon($glyphicon-map-marker);
        .location {
            margin: .2em;
            div, span {
                display: inline;
            }
        }
    }
}

.page-header,
.node-teaser,
.node-listing {
    .location-locations-header {
        display: none;
    }
}

.location-locations-display {
    .map-link,
    .location-hidden {
        @include sr-only();
    }
}



//
// Read more links
//
.collapsed-readmore {
    max-height: 210px;
    position: relative;
    overflow: hidden;
    &:after{
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100px;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(rgba($white, 0), rgba($white, .9) 80%, $white);
    }
}

.comment-readmore {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 99;
    text-align: right;
    padding-top: $grid-gutter-width / 2;
    padding-bottom: $grid-gutter-width / 2;
    cursor: pointer;
}



//
// Field labels
//
.views-field .views-label,
.field .field-label {
  font-weight: bold;
}

// From Drupal: modules/field/theme/field.css
.field-label-inline {
    > .field-label,
    > .field-items > .field-item,
    > .field-items {
        display: inline;
    }
    > .field-items > .field-item:not(:first-of-type):before {
        content: ', ';
    }
}
.field-label-above > .field-label {
    padding-top: $grid-gutter-width / 2;
}

// Make links in field-item break (no overflow)
.help-block,
.field-item a {
    overflow-wrap: break-word;
}
