//
// Land Portal BootStrap Theme (LPBS)
//
// Author: Jules <jules@ker.bz>
//
// Grid
//

// Media query variables.
$mobile:  "screen and (max-width: #{$screen-xs-max})";
$tablet:  "screen and (min-width: #{$screen-sm-min})";
$normal:  "screen and (min-width: #{$screen-md-min})";
$wide:    "screen and (min-width: #{$screen-lg-min})";



@mixin landportal-layout-full($padding: 'both') {
    clear: both;
    float: none;
    width: unset;
    position: relative;
    @include make-row();
    @if $padding {
        padding-left: $grid-gutter-width / 2;
        padding-right: $grid-gutter-width / 2;
    }
    @media (min-width: $screen-sm-min) {
        $ratio: 100% / $container-sm;
        $margin: (100% - $container-sm) / 2 * $ratio;
        //@warn "SM: #{$margin} / #{$ratio}";
        @include landportal-offset($margin, 'both');
        @include landportal-push($margin, $padding);
    }
    @media (min-width: $screen-md-min) {
        $ratio: 100% / $container-md;
        $margin: (100% - $container-md) / 2 * $ratio;
        @include landportal-offset($margin, 'both');
        @include landportal-push($margin, $padding);
    }
    @media (min-width: $screen-lg-min) {
        $ratio: 100% / $container-lg;
        $margin: (100% - $container-lg) / 2 * $ratio;
        @include landportal-offset($margin, 'both');
        @include landportal-push($margin, $padding);
    }
    @if not $padding {
        padding-left: 0;
        padding-right: 0;
    }
}

@mixin landportal-offset($margin, $side: 'both') {
    @if $side and $side != 'right' {
        margin-left: -$margin;
    }
    @if $side and $side != 'left' {
        margin-right: -$margin;
    }
}

@mixin landportal-push($margin, $side: 'both') {
    @if $side and $side != 'right' {
        padding-left: $margin;
    }
    @if $side and $side != 'left' {
        padding-right: $margin;
    }
}



//
// Grid help function for LP
//
@mixin landportal-grid($small:2, $medium:false, $large: false, $mobile: false) {
    @include make-row();
    > div {
        @if $mobile {
            @include make-xs-column($grid-columns / $mobile);
        }
        @include make-sm-column($grid-columns / $small);
        clear: none;
        $media-small: "#{$tablet}";
        @if $medium { // if set, do not clear for higher resolutions
            $media-small: "#{$tablet} and (max-width: #{$screen-sm-max})";
        }
        @media #{$media-small} {
            &:nth-child(#{$small}n + #{$small + 1}) { clear: left; }
        }
        @if $medium {
            @include make-md-column($grid-columns / $medium);
            $media-medium: "#{$normal}";
            @if $large {
                $media-medium: "#{$normal} and (max-width: #{$screen-md-max})";
            }
            @media #{$media-medium} {
                &:nth-child(#{$medium}n + #{$medium + 1}) { clear: left; }
            }
        }
        @if $large {
            @include make-lg-column($grid-columns / $large);
            @media #{$wide} {
                &:nth-child(#{$large}n + #{$large + 1}) { clear: left; }
            }
        }
    }
}

// Bootstrap container class
.container {
    @include container-fixed;
    @media (min-width: $screen-sm-min) {
        width: $container-sm;
    }
    @media (min-width: $screen-md-min) {
        width: $container-md;
    }
    @media (min-width: $screen-lg-min) {
        width: $container-lg;
    }
}

.container-fluid {
    padding: 0;
}
main.container {
    @media (min-width: $screen-sm-min) {
        padding-left: 0;
        padding-right: 0;
    }
    @media (min-width: $screen-md-min) {
        padding-left: 0;
        padding-right: 0;
    }
    @media (min-width: $screen-lg-min) {
        padding-left: 0;
        padding-right: 0;
    }
}

.lp-full {
    @include landportal-layout-full();
}

.container {
    @media (min-width: $screen-sm-min) {
        padding-left: 0;
        padding-right: 0;
    }
}

.no-pad {
  padding-right:0;
  padding-left:0;
}
