
// This should probably be a mixin
.label-geo {
    background-color: $label-geo;
}
.label-category {
    background-color: $label-category;
}
.label-theme {
    background-color: $label-theme;
}
.label-concept {
    background-color: $label-concept;
}
