//
// Land Portal BootStrap Theme (LPBS)
//
// Author: Jules <jules@ker.bz>
//
// LP Mixins
// Helpers for elements, decoration, tricks, etc...
//

// from: http://codepen.io/abctract/pen/EVVNjy
@mixin caret($point, $border-width, $color) {
    $opposite: opposite-position($point);
    border: $border-width solid transparent;
    border-#{$opposite}: $border-width solid $color;
    border-#{$point}: 0;
    height: 0;
    width: 0;
}

// Blocks
@mixin lp-block-disclaimer() {
    @include landportal-layout-full(true);
    padding-top: $grid-gutter-width / 2;
    padding-bottom: $grid-gutter-width / 2;
    @extend .bg-grey;
    @extend %lp-font-aside;
    p {
        text-align: justify;
    }
}

// Tags
@mixin lp-tags($color) {
    display: inline-block;
    white-space: normal;
    background-color: tint( $color, 90% );
    border-left: 5px solid $color;
    color: $black;
    font-family: $font-family-sans-serif;
    @extend %lp-font-small;
    padding: 3px 5px;
    margin: 3px 5px;
    @include border-radius(.6em);
    a,
    a:hover {
        color: $grey-dark;
        text-decoration: none;
    }
}



//
// One column, one sidebar 8/4
//
// LP Content
@mixin lp-content-main() {
    padding-left: 0;
    padding-right: 0;
    .no-sidebars & {
        @include make-sm-column(12);
    }
    .one-sidebar & {
        @include make-sm-column(8);
    }
    @media (min-width: $screen-sm-min) {
        .no-sidebars &,
        .one-sidebar & {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

@mixin lp-content-aside() {
    @include make-sm-column(4);
    @media (min-width: $screen-sm-min) {
        float: right;
        clear: right;
    }
    z-index: 42;
    padding-top: $grid-gutter-width / 2;
    padding-bottom: $grid-gutter-width / 2;
}

//
// Layout related mixins
//
@mixin landportal-layout() {
    @include make-xs-column(12);
    @include make-sm-column-offset(1);
    @include make-sm-column(10);
    @include make-lg-column-offset(2);
    @include make-lg-column(8);
}

@mixin landportal-layout-large() {
    @include make-xs-column(12);
    @include make-sm-column-offset(1);
    @include make-sm-column(10);
}

// This create and offseted column
@mixin landportal-column($size, $side: both) {
    @include make-sm-column($grid-columns / $size);
    @media #{$tablet} {
        // Ratio 10:1
        $ratio: (1 / $grid-columns) / (10 / $grid-columns);
        @include landportal-offset($ratio, $side);
        width: percentage($ratio * $size);
        @if $side == 'left' or $side == 'both' {
            padding-left: percentage($ratio);
        }
        @if $side == 'right' or $side == 'both' {
            padding-right: percentage($ratio);
        }
    }
    @media #{$wide} {
        // Ratio 8:2
        $ratio: (1 / $grid-columns) / (8 / $grid-columns);
        @include landportal-offset($ratio, $side);
        width: percentage($ratio * $size);
        @if $side == 'left' or $side == 'both' {
            padding-left: percentage($ratio * 2);
        }
        @if $side == 'right' or $side == 'both' {
            padding-right: percentage($ratio * 2);
        }
    }
}
