
// Views timeline
.tl-timeline {
    a {
        color: $link-color;
        text-decoration: none;
    }
    .tl-headline {
        @extend %lp-font-small;
    }
}
// Timeline content
.tl-storyslider {
    a.tl-makelink:hover {
        text-decoration: underline;
    }
    .tl-slide .tl-slide-content-container .tl-slide-content {
        width: 100% !important;
        padding: 0 $grid-gutter-width !important;
        // Slides content
        .tl-headline {
            @include lp-title(16px);
        }
        .tl-text {
            margin-top: 0;
        }
    }
    .tl-slidenav-next .tl-slidenav-icon,
    .tl-slidenav-previous .tl-slidenav-icon {
        font-size: 1.6em;
    }
}
// Timeline slider
.tl-timenav {
    background-color: $grey-lighter;
}
