//
// Land Portal BootStrap Theme (LPBS)
//
// Author: Jules <jules@ker.bz>
//
// Typography
// Define fonts, sizes and base style for text, titles, etc...
//

@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,400i,700,700i|Open+Sans:400,400i,700,700i');
// For partners sites
//@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');

//
// Basic fonts setup
//
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
    font-family: $headings-font-family;
    font-weight: 700;
    color: $black;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 10px;
}

body {
    font-family: $font-family-base;
    font-size: $font-size-normal;
}

h1, .h1,
%lp-font-larger {
    font-size: $font-size-larger;
}

h2, .h2,
%lp-font-large {
    font-size: $font-size-large;
}

h3, .h3,
%lp-font-medium {
    font-size: $font-size-medium;
}

h4, .h4, h5, .h5, h6, .h6,
%lp-font-normal {
    font-size: $font-size-normal;
}

.small,
%lp-font-small {
    font-size: $font-size-small;
}

%lp-font-alt {
    font-style: italic;
}

%lp-font-aside {
    @extend %lp-font-small;
    color: $font-grey;
}



//
// Titles
//
@mixin lp-title($size: $font-size-medium) {
    //margin: 0;
    font-size: $size;
    font-family: $headings-font-family;
    font-weight: 700;
    line-height: normal;
    color: $grey-dark;
    a {
        color: $link-color;
    }
}

@mixin lp-page-title() {
    @include lp-title($font-size-larger);
    margin: $grid-gutter-width / 2 0;
    @media #{$mobile} {
        margin: $grid-gutter-width / 2 0;
    }
    @media #{$tablet} {
        padding: 0;
    }
}

// Normal font
@mixin lp-block-title($size: $font-size-large, $border: 2px) {
    font-size: $size;
    font-family: $font-family-base;
    font-weight: bold;
    color: $grey-dark;
    @if $border {
        &:before {
            border-top: $border solid $grey-dark;
            padding-top: 10px;
            content: ' ';
            display: block;
        }
    }
}

@mixin lp-label-title($size: $font-size-normal, $border: 1px) {
    font-size: $size;
    font-family: $font-family-base;
    font-weight: bold;
    color: $grey-dark;
    @if $border {
        margin-top: $grid-gutter-width / 2;
        padding-top: $grid-gutter-width / 2;
        border-top: 1px solid $grey;
    }
}



//
// Body / description
//
@mixin lp-body($size: $font-size-normal) {
    .field-name-field-doc-description,
    .field-name-description-field,
    .field-name-body {
        font-size: $size;
        /* padding-top: 15px; */
        padding-bottom: 15px;
    }
}

%lp-body-teaser {
    @include lp-body($font-size-small);
    @extend %lp-font-aside;
    // Dirty reset for dirty summaries
    // @TODO look at drupal way to cleanup generated summaries(?)
    .field-name-field-doc-description,
    .field-name-description-field,
    .field-name-body {
        h1, h2, h3, h4, h5, strong, b {
            margin: 0;
            font-weight: normal;
        }
        h1, h2, h3, p {
            font-size: $font-size-small;
            line-height: inherit;
            color: $font-grey-light;
        }
    }
}

@mixin lp-body-shade($height: 100px, $color: $white) {
    &:after{
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: $height;
        bottom: 0;
        left: 0;
        @media #{$mobile} {
            background-image: linear-gradient(rgba($color, 0), rgba($color, .9) 80%, $color);
        }
    }
}

// From https://gist.github.com/kaelig/7528069
@mixin text-clamp($lines: 2, $line-height: false) {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lines;
    @if $line-height {
        max-height: $line-height * $lines * 1px;
    }
}


//
%title-decorated {
    @include lp-title();
    padding-top: 65px;
    margin-top: 25px;
    margin-bottom: $grid-gutter-width / 2;
    text-align: center;
}

// Label
%lp-field-label {
    font-family: $headings-font-family;
    font-weight: 700;
    color: $grey;
    @extend %lp-font-medium;
}
