//
// Land Portal BootStrap Theme (LPBS)
//
// Author: Jules <jules@ker.bz>
//
// Various variables for Land Portal theme and Bootstrap
//

// Black and White
$black:         #333333;
$white:         #FFFFFF;

//
// Official LP brand colours from Federico (December 2017)
//

//Reds
$lpb-red:       #CC3333;
$lpb-orange:    #E58517;

//Greens
$lpb-yellow:        #CCCC00;
$lpb-green:         #006633;
$lpb-greenpea:      #009933;
$lpb-green-darkest: #003333;
$lpb-green-mid:     #339966;
$lpb-green-geoportal:     #006633;

//Blues
$lpb-blue:      #333366;
$lpb-bluesky:   #3399CC;
$lpb-teal:      #009999;

//Purples
$lpb-red-purple:        #CC0033;
$lpb-magenta:           #990066;
$lpb-deeppurple:        #333399;

//
// Shades from the 'Official' palette
//
$red:           $lpb-red;
$red-darker:    darken($red, 20);
$red-dark:      $lpb-red-purple;

$orange:        $lpb-orange;

$yellow:        $lpb-yellow;

$green:         $lpb-green;
$green-light:   $lpb-green-mid;
$greenpea:      $lpb-greenpea;
$green-dark:    $lpb-green-darkest;

$blue:          $lpb-blue;
$blue-darker:   $lpb-deeppurple;
$blue-dark:     $lpb-magenta;
$blue-light:    $lpb-teal;
$blue-lighter:  $lpb-bluesky;

//
// Other (non-official) colors used by LP theme
//
$blue-link:     #0066CC;

$grey:          #666666;
$grey-dark:     #555555;
$grey-darker:   #444444;
$grey-light:    #EBEBE2;
$grey-lighter:  #EBEBE5;

$greywarm:       #EBEBE5;
$greywarm-light: #F3F3EE;

//
// Colors mapping
//
$bg-grey-dark:  $grey;
$bg-grey:       $greywarm;
$bg-grey-light: $greywarm-light; // Site headers and top menu BG
$bg-green:      $green-light;
$bg-blue:       $blue-darker;
$bg-red:        $red;
$bg-yellow:     $yellow;
$bg-orange:     $orange;

$font-grey:     $grey-darker;   // should work on bg-grey-dark
$font-grey-light: $grey;        // used in node teaser for body

$border-grey:   $greywarm;

// For Type of content
$ct-country:    $orange;
$ct-thematic:   $red;
$ct-data:       $lpb-greenpea;
$ct-ind:        $lpb-green;
$ct-library:    $lpb-magenta;
$ct-geoportal:    $lpb-green-geoportal;

$ct-news:       $lpb-deeppurple;
$ct-debate:     $lpb-teal;
$ct-event:      $lpb-blue;
$ct-organization: $lpb-green-darkest;
$ct-partners:   $lpb-bluesky;
$ct-blog-post:  $lpb-green-mid;
$ct-landportal: $lpb-yellow;

// aliases
$ct-community:  $lpb-bluesky;

// For Landvoc and Terms
$label-geo:     $green;
$label-category:$blue-lighter;
$label-theme:   $blue-light;
$label-concept: $blue;



//
// Fonts
//
$font-size-larger:      32px;
$font-size-large:       22px;
$font-size-medium:      18px;
$font-size-normal:      16px;
$font-size-small:       13px;



//
// Bootstrap overrides
//
$brand-primary:         $orange;
$brand-secondary:       $red;
$link-color:            $blue-link;
$text-color:            $black;
$headings-color:        $black;

$font-family-serif:             "Merriweather Sans", sans-serif;
$font-family-sans-serif:        "Merriweather Sans", sans-serif;

$headings-font-family:          $font-family-sans-serif;
$font-family-base:              $font-family-serif !default;

$panel-default-heading-bg: inherit;
$panel-heading-padding: 0;

// grid / containers
$container-sm:  95%;
$container-md:  90%;
$container-lg:  80%;

$border-radius-base: 1.3em;
