//
// Land Book datasets & indicators
//
// Author: Jules <jules@ker.bz>
//

.page-node-42583,
.page-node-42584,
.page-node-42585,
.page-node-14170 {
    .highcharts-legend {
        display: none;
    }
}

/* // TMP - PRIndex */
/* // Hide dataset organization */
/* #taxonomy-term-8337 { */
/*     .field-name-field-orgref { */
/*         display: none; */
/*     } */
/* } */

/* // PRIndex indicators (term) page */
/* .page-taxonomy-term-8390, */
/* .page-taxonomy-term-8391 { */
/*     .field-name-field-view-coda { */
/*         border-top: 1px solid white; */
/*     } */
/* } */

// For Dataset CT
.node-type-dataset {
    .vocabulary-datasets {
        // @todo: keep?
        .field-name-field-orgref,
        .group-landvoc {
            display: none;
        }
    }
    .group-aside .group-landvoc h3 {
        // label field
        margin-top: $grid-gutter-width / 2;
        padding-top: $grid-gutter-width / 2;
        border-top: 1px solid $grey;
        font-size: 14px;
        font-weight: bold;
        font-family: $font-family-base;
    }
}



///////////////////////////////////////////
//
// Datasets and Indicators (tax.)
//
.vocabulary-datasets,
.vocabulary-indicators {
    @include clearfix();
    // Other Indicators inside 'lbind' view
    .view-lbcat .vocabulary-indicators,
    .view-lbind .vocabulary-indicators {
        .field-name-field-dataset {
            display: none;
        }

        // View Coda visualizations style
        .view-coda {
            > .content > .field-name-field-description,
            .view-coda-form {
                @include landportal-background($bg-green);
                padding: $grid-gutter-width / 2;
                @include clearfix();
            }
            .view-coda-form .select2-container,
            .view-coda-form .form-control {
                color: initial;
            }
        }
    }
}

.vocabulary-datasets {
    // Dataset logo add space for the indicators menu
    &.taxonomy-header .content,
    &.taxonomy-full .group-aside {
        > .field-name-field-image {
            padding-bottom: $grid-gutter-width / 2;
        }
    }
}

// For datasets info showing on Dataset CT or Indicitors (tax.) pages
.vocabulary-datasets.taxonomy-header {
    div[class^="group"],
    .field {
        @include make-sm-column(12);
        @media #{$tablet} {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

// Used in prindex
.node-type-dataset .node-dataset {
    .field-name-body .bg-green {
        background-image: image-url('bg-hand-world.png');
        background-repeat: no-repeat;
        background-position: bottom right;
        background-position-x: 98%;
    }
    .field-name-field-noderef {
        @include lp-view-related();
    }
}

// To be even more global style?
.node-type-sdgi .node-sdgi,
.node-type-dataset .node-dataset,
.page-taxonomy-term .vocabulary-datasets,
.page-taxonomy-term .vocabulary-indicators {
    // Same as blocks on main?
    .field-name-field-observations > .field-label {
        @include lp-block-title();
    }
    .field-name-field-observations {
        > .field-items {
            border-left: 5px solid rgba($green-dark, .75);
            padding-left: $grid-gutter-width / 2;
            margin-top: $grid-gutter-width / 2;
        }
        .field-name-name-field .field-item > * {
            @include lp-block-title(14px, none);
        }
    }
    // Hide LandVoc leaf
    .group-landvoc:before {
        display: none;
    }
}



//
// Cleanup
// @TODO: Should be global?
//

// Indicators jump menu (in datasets + indicators pages)
.view-id-lbcat.view-display-id-jump {
    padding-top: $grid-gutter-width / 2;
    padding-bottom: $grid-gutter-width / 2;
}

// LB dev
.page-taxonomy-term .field-name-field-view-latest {
    clear: both;
    @include make-row();
}
