#comments {
    h2.title {
        text-align: center;
        padding: $grid-gutter-width / 2 0;
        margin: 0;
        &:first-of-type:before {
            @extend .lp-glyphicon;
            content: $glyphicon-bullhorn;
            display: block;
            margin-bottom: .5em;
        }
    }

    h2.title,
    &>form {
        @include landportal-layout-full();
        background-color: $grey-lighter;
    }

    &>form>div {
        @include make-sm-column(12);
        @include make-md-column(10);
        @include make-md-column-offset(1);
    }

    .indented {
        padding-left: $grid-gutter-width;
        border-left: 1px solid $grey-lighter;
    }

    // @todo: with html classes
    /* &:nth-child(3neven) { */
    /*     background-color: $grey-lighter; */
    /*     .collapsed-readmore:after { */
    /*         background-image: linear-gradient(rgba($grey-lighter, 0), rgba($grey-lighter, .9) 80%, $grey-lighter); */
    /*     } */
    /* } */

    .comment {
        padding: $grid-gutter-width / 2 0;
        &:not(:first-of-type) {
            border-top: 1px solid $grey-light;
        }
        >span.new {
            @extend .label;
            @include label-variant($blue);
            margin-left: $grid-gutter-width / 2;
        }
        .links {
            float: right;
        }
        // @todo: fix / cleanup profile stuff
        .field-name-field-image, .profile-info{
            display: inline-block;
            text-align: left;
            font-size: 16px;
            vertical-align: middle;
        }
        .profile-name a{
            font-weight: 600;
        }
    }
}

.comment .submitted {
float: right;
}

.comment .submitted img {
padding: 6px;
}

.comment .submitted .permalink {
display: block;
}

