//
// Land Portal BootStrap Theme (LPBS)
//
// Author: Jules <jules@ker.bz>
//
// Global (full page, teaser, etc...)
//

// Debate nodes aka Discussions
.node-type-debate,
.node-debate {
    .field-name-field-status {
        .field-item {
            @extend .label;
            padding: .2em .5em;
            margin: 2px;
            text-transform: uppercase;
        }
        // Open
        .status-538,
        .status-open {
            @include label-variant($green);
        }
        // Closed
        .status-539,
        .status-closed {
            @include label-variant($red);
        }
        // Coming soon
        .status-537,
        .status-coming-soon {
            @include label-variant($grey-light);
            color: $black;
        }
    }
}

.node-debate.node-teaser {
    .field-name-body {
        display: none;
    }
}

.page-debates {
    .page-header {
        display: none;
    }
}

//
// Single pages (full)
//

// With profile in the header
.node-type-blog-post,
.node-type-debate {
    &:not(.page-node-edit) .page-header > header > {
        .field-name-field-image .field-item:nth-child(2) {
            // offset for floating profiles
            @media #{$tablet} {
                bottom: $grid-gutter-width + 50px;
                max-height: 260px;
            }
        }
    }
}

// Specific to Blogs & debate
// Show authors/facilitators overlaying the pic.
.node-type-blog-post .page-header .field-name-field-authors,
.node-type-debate    .page-header .field-name-field-facilitators, 
.node-type-debate    .page-header .field-name-field-debate-facilitators {
    @include make-sm-column(8);
    margin-top: -50px;
    >.field-items>.field-item {
        float: left;
        padding-left: $grid-gutter-width / 2;
    }
}

// Test
.node-type-news,
.node-type-blog-post,
.node-type-debate,
.node-type-event {
    .region-content {
        background-color: white;
    }
    .field-name-body {
        padding: $grid-gutter-width / 2;
        overflow: hidden;
    }
    .group-aside {
        padding-top: $grid-gutter-width / 2;
    }
}
