//
// Land Portal BootStrap Theme (LPBS)
//
// Forms
//


// In top menu bar (Drupal Bootstrap theme)
// User login form attached as block in a link
.menu.secondary .menu-attach-block-wrapper {
    position: absolute;
    background: $grey-lighter;
    right: 0;
    z-index: 999;
    #block-user-login {
        width: 300px;
        padding: 15px;
        .captcha .panel-heading,
        .block-title {
            display: none;
        }
        //.captcha .panel-body { }
        .hybridauth-widget-wrapper h3 {
            @extend .h4;
            font-style: italic;
            margin-top: 0;
        }
        .form-actions {
            position: absolute;
            right: $grid-gutter-width / 2;
            bottom: $grid-gutter-width / 2;
            margin: 0;
        }
    }
}

// Webforms
.block-webform form {
    margin-top: $grid-gutter-width / 2;
    margin-bottom: $grid-gutter-width / 2;
}

///////////////////////////////////////////
//
// Forms layout
//
#block-system-main>form {
    @include clearfix;
}

//
// Forms style
//
form {
    //TMP
    div[class*="-delete-location"],
    div[class*="-re-geocode-location"] {
        display: none;
    }

    //
    // Drupal form common elements
    //
    li.vertical-tab-button {
        overflow: hidden;
    }
    .form-inline {
        >div:not(:last-of-type) {
            //margin: .5em 0; // create a bug with input+inline image
            padding-right: 1.5em;
            label {
                padding-right: 1em;
            }
        }
    }
    // Form group in tables
    table .form-group {
        margin-bottom: 0;
    }
    // Select
    .form-type-select.form-group {
        position: relative;
    }
    select.form-select {
        padding: 6px;
    }
    a.button.browse {
        @extend .btn;
        @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
    }

    // Table 'show weight' link
    .tabledrag-toggle-weight-wrapper {
        font-size: .8em;
        font-style: italic;
        position: absolute;
        right: $grid-gutter-width / 2;
    }

    // Form authoring / bottom
    .tabbable {
        @include make-sm-column(12);
        padding: 0;
        margin: $grid-gutter-width / 2 0;
    }
    .filter-wrapper {
        .panel-body { padding: 0; }
    }

    //
    // Drupal field specific elements
    //
    .required-fields h3 {
        font-style: italic;
        font-size: 1.3em;
    }
    .date-combo .panel-heading,
    .form-item table thead label,
    .form-group>.control-label {
        @extend %lp-field-label;
    }

    >div>.form-item-language {
        clear: both;
    }
}



///////////////////////////////////////////
//
// Helpers
//

// Easy Grid test for Drupal form group / fieldset
// @TODO streamline with LPBS other grid stuff
// See: _lists.scss
.lp-4c1 {
    width: 25%;
}
.lp-2c {
    clear: left;
    >.panel-body {
        @include make-row();
    }
    >.panel-body>div {
        @include make-sm-column(6);
        margin-bottom: 0;
        padding-bottom: $grid-gutter-width / 2;
        &:nth-child(2n+1) {
            clear: left;
            border-right: 1px solid $grey-lighter;
        }
    }
}



///////////////////////////////////////////
//
// Content Type / node forms
//
.node-form > div > {
    * {
        @include make-sm-column(12);
//        @media #{$tablet} {
            padding-left: 0;
            padding-right: 0;
//        }
    }
    .form-item-title,
    .field-name-field-doc-description,
    .field-name-field-doc-alt-title,
    .field-name-body {
        @include make-sm-column(8);
        @include make-md-column(9);
        clear: left;
//        @media #{$tablet} {
            padding-left: 0;
            padding-right: 0;
//        }
    }

    .group-aside,
    .field-type-image,
    .field-type-file,
    .field-name-field-acronym,
    .field-name-field-geographical-focus,
    .field-name-field-landvoc-to,
    .group-topics-regions {
        @include make-sm-column(4);
        @include make-md-column(3);
        @media #{$tablet} {
            float: right !important;
            clear: right;
        }
    }
}

// For those CT, node form body go full width
.node-type-partners,
.node-type-partners-page {
    .page-node-edit #block-system-main > .node-form .field-name-body {
        width: 100%;
    }
}



///////////////////////////////////////////
//
// User -related forms
//

// MailChimp subscription block
#block-mailchimp-signup-land-portal-newsletter {
    //@include landportal-column(6, right);
    @include make-sm-column(6);
    background-color: $green;
    @include colored-text(white);

    .form-actions,
    .block-title {
        @include make-xs-column(12);
    }
    .form-item[class*="form-item-mailchimp-lists-interest-groups"],
    .mailchimp-newsletter-mergefields {
        &.form-type-checkboxes,
        > .form-item {
            @include make-xs-column(12);
        }
        > .form-item-mergevars-fname,
        > .form-item-mergevars-lname {
            @include make-xs-column(6);
        }
        > .form-checkboxes .form-item {
            display: inline;
            margin-right: $grid-gutter-width / 3;
        }
    }
}
