//
// Land Portal BootStrap Theme (LPBS)
//
// Header / Top level elements
//

// Land Portal pages title style
// Target the deepest DOM element in the page header
.field-name-title-field h1,
.field-name-name-field h1,
.page-admin-people-create .page-header,
.page-library-search .page-header,
.page-search-all .page-header,
.page-node-add .page-header,
.page-node-edit .page-header,
.page-header h1 {
    @include lp-page-title();
}

// Taxonomy terms
.taxonomy-teaser,
// Land Portal teasers title style
.node-listing,
.node-teaser {
    .field-name-title-field {
        // Limit to about 5 lines max.
        max-height: 7.8em;
        overflow: hidden;
        .field-item > * {
            @include lp-title();
        }
    }
}
// For Boostrap View type carousel
.carousel-caption h3 {
    @include lp-title();
}



//
// Page (nodes) header image settings
//
// Simple, full width image
.page-node.node-type-dataset,
.page-node.node-type-sdgi,
.page-with-image.page-taxonomy-term,
.page-node.node-type-page {
    &:not(.page-node-edit) .page-header > header {
        @include landportal-image-full();
    }
}

// Full width images with blured background
.node-type-project,
.node-type-debate,
.node-type-event,
.node-type-news,
.node-type-blog-post {
    &:not(.page-node-edit) .page-header > header {
        @include landportal-image-full-blured();
        .field-name-title-field,
        .field-name-field-pubdate {
            @include make-sm-column(12);
            background-color: white;
            padding-top: $grid-gutter-width / 3;
            padding-bottom: $grid-gutter-width / 3;
        }
        .field-name-title-field {
            h1 {
                margin: 0;
            }
        }
    }
}

// Full width image with blug and aside group in the header
.node-type-project,
.node-type-blog-post, // < check that one
.node-type-debate,
.node-type-event {
    &:not(.page-node-edit) .page-header > header {
        > .field-name-field-image {
            .field-item:first-of-type {
                @include make-sm-column(8);
                @media #{$tablet} {
                    padding-left: 0;
                    padding-right: 0;
                    text-align: right;
                }
            }
        }

        .group-details {
            @include make-sm-column(4);
            padding-left: 0;
            padding-right: 0;
            @media #{$tablet} {
                margin-top: 50px;
            }
            @media #{$mobile} {
              //  text-align: right;
            }
            // Style
            color: $white;
            font-size: $font-size-medium;
            .location-locations-display {
                font-size: $font-size-normal;
                padding: 0 $grid-gutter-width /2;
                .location-locations-wrapper {
                    padding-top: $grid-gutter-width / 2;
                    margin-top: $grid-gutter-width / 2;
                    border-top: 1px solid $grey;
                }
            }


            .field-name-field-date, .field-name-field-acronym, .field-name-field-id, .field-name-field-status-by-date, .field-name-field-value-decimal, .field-name-field-currency {
                padding: 0 $grid-gutter-width /2 ;
                .date-display-end {
                    display: block;
                }
            }
            .field-name-field-currency {
              //display:inline;
              .field-item {
                padding-left: 15px;
              }
              //float:left;
              //padding-right: 5px;
            }
            .field-name-field-value-decimal {
              float:left;
              padding-right: 5px;
            }
            .field-name-field-date {
              .date-display-range {
                 .date-display-end {
                   display:inline;
                 }
               }
            }


//            .field-name-field-date {
//                padding: 0 $grid-gutter-width /2 ;
//                .date-display-end {
//                    display: block;
//                }
//            }
            .field-name-field-value {
                padding: 0 $grid-gutter-width /2 ;
            }
            .field-name-field-status {
                .field-item {
                    display: inline-block;
                    margin: $grid-gutter-width / 3 0 0;
                    padding: .5em $grid-gutter-width / 2;
                    @include border-left-radius(0);
                    @include border-right-radius($grid-gutter-width / 2);
                }
            }
        }        
    }
}



//
// Page Headers elements
//
// In order of appearence
//  #navbar
//  #page-header (in main-container)
//  .page-header (in main-container > main.container)
//
// Top bar / main-menu / region-navigation
body>header#navbar {
    background-color: $bg-grey-light;
    margin: 0;
    border: 0;
    @include border-radius(0);
    .navbar-brand {
        @include sr-only;
    }
    .navbar-header {
        @include make-sm-column(4);
    }
    .navbar-collapse {
        @include landportal-layout-full();
        background: white;
    }
    .region-navigation {
        @include make-sm-column(8);
        #block-search-form {
            padding-top: $grid-gutter-width;
            @include make-sm-column(6);
            @media (min-width: $screen-sm-min) {
                float: right;
            }
        }
    }
    .navbar-right,
    .navbar-header,
    .region-navigation {
        @media (min-width: $screen-sm-min) {
            padding-left: 0;
            padding-right: 0;
            margin: 0;
        }
    }
    // Top main-menu OR user-menu
    nav {
        //@include make-sm-column(12);
        > .nav {
            @extend %lp-font-small;
            // TMP hack
            #block-locale-language-content .block-title {
                display: none;
            }
            > li {
                border-left: 2px solid $border-grey;
                &:last-of-type {
                    border-right: 2px solid $border-grey;
                }
            }
            > li > a {
                padding-top: $grid-gutter-width / 4;
                padding-bottom: $grid-gutter-width / 4;
                &:hover {
                    background: $bg-grey;
                }
            }
            a[href="/user"] {
                color: $ct-country;
                @include field-glyphicon($glyphicon-user);
            }
        }
    }
}

// Language switcher block (in top menu)
#block-locale-language-content {
    ul {
        padding: 0;
        li {
            list-style-type: none;
            padding: 5px 15px;
            &:not(:first-of-type) {
                border-top: 1px solid $grey;
            }
        }
    }
}

// Land Portal main navigation menu (landportal-menu)
//  inside .main-container
// this displays the content of the 'navigation' region
#page-header .region-header {
    section {
        @include make-sm-column(12);
    }
    .nav > li {
        float: left;
        >  a {
            padding: $grid-gutter-width / 3;
            font-weight: bold;
            &:hover {
                background: white;
            }
        }
    }
}

// Page content (node, taxonomy, users, etc...) header
//  inside .main-container main.container
// Usually title or group_header (see theme/landportal_display hack)
.page-header {
    // Reset Bootstrap default
    margin: 0;
    padding-bottom: 0;
    border-bottom: 0;
}

// Page header with full width
.page-taxonomy-term.page-with-image,
.node-type-project,
.node-type-dataset,
.node-type-sdgi,
.node-type-page,
.node-type-debate,
.node-type-event,
.node-type-news,
.node-type-blog-post {
    .page-header {
        @include landportal-layout-full(false);
        position: relative;
        header {
            @extend .container;
            .group-details {
                background-color: rgba(black, .8);
                padding-top: $grid-gutter-width / 2;
                padding-bottom: $grid-gutter-width / 2;
                @include border-bottom-right-radius($grid-gutter-width / 2);
            }
        }
    }
}


//
// Footer area
//
body>footer {
    @include landportal-background($bg-grey, $grey);
    @extend %lp-font-small;
    // Force footer container to have padding
    img {
        margin-bottom: $grid-gutter-width / 3;
        margin-top: $grid-gutter-width / 3;
    }
    &.container-fluid {
        padding-top: $grid-gutter-width / 2;
        padding-bottom: $grid-gutter-width / 2;
    }
}
