.node-type-impact-story {
  font-family: "Merriweather Sans", sans-serif;
  .node .field-name-body {
    font-size: 14px;
  }
  .submitted {
    img {
      width: unset;
    }
    .group-name {
      width: unset !important;
    } 
    .profile2-main {
      text-align: initial;
    }
    .node .submitted {
      text-align: unset;
    }
  }
  .page-header {
    display: none;
  }
  .pane-node-title {
    h1 {
      font-family: "Merriweather Sans";
      font-weight: bold;
      line-height: 35px;
      font-style: normal;
      padding-right: 40%;
      margin-top: 0px;
      color: rgb(0,0,0);      
    }
  }
  .moscone-flipped-bootstrap {
    .row {
      margin-bottom: 20px;
    }
    .pane-node-field-doc-people {
      .pane-title, .pane-content {
        display:inline-block;
      }
    }
  }
  .pane-node-field-doc-people, .pane-node-field-pubdate {
    width: auto;
    white-space: nowrap;
    display: inline-block;    
  }
  .pane-node-field-doc-people + .panel-separator {
    width: auto;
    white-space: nowrap;
    display: inline-block;
  }
  .pane-node-field-doc-people {
    border-right: solid 1px #ccc;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #333;
    text-transform: uppercase;
    padding-left: 3px;
    font-size: 12px;
    .pane-title {
      font-style: italic;
      text-transform: lowercase;
      color: #929292;
    }
  }
  .pane-node-field-pubdate {
    text-transform: uppercase;
    color: #929292;  
    font-size: 12px;
  }
  .breadcrumb {
    padding-left: 0px;
    padding-top: 30px;
    padding-bottom: 20px;
    li a {
      font-size: 16px; 
      color: rgb(86, 88, 91);
      font-weight: bold;
      font-style: normal;
    }
  } 
  .radix-layouts-footer {
    h2.pane-title {
      padding: 0 20px;
      position: relative;
      z-index: 5;
      font-family: "Merriweather Sans", sans-serif; 
      font-size: 32px;
      text-align: center;
      background: #fff;
      position: relative;
      z-index: 5;
      margin: 0 36%;
    }
    .divider-style {
      margin-top: 70px;
      position: relative;
      margin-right: 40px;
      margin-left: 40px;
    }
    .divider-style:before {
        content: "";
        display: block;
        border-top: solid 1px black;
        width: 100%;
        height: 1px;
        position: absolute;
        top: 50%;
        z-index: 1;
    }
  }
}
