//
// Land Portal BootStrap Theme (LPBS)
//
// Author: Jules <jules@ker.bz>
//
// Layout
// This file contains everything that relates to layout of pages and elements
//

// Landing page
body.front {
    .page-header,
    .breadcrumb {
        display: none;
    }
    .block-wrapped {
        min-height: 150px;
        margin-top: $grid-gutter-width / 2;
        text-align: center;
    }
}



//
// Regions / Drupal global areas
//
.region-content {
    @include lp-content-main();
}

// Sidebars
.region-sidebar-first,
.region-sidebar-second {
    @include lp-content-aside();
}
.region-sidebar-second {
    float: right !important;
}

// Follows Drupal markup tree (kinda)
.main-container {
    @include clearfix();

    .region-help,
    .region-content,
    .region-header,
    .region-highlighted {
        @include clearfix();
        position: relative;
        clear: both;
        padding: 0;
    }
    .region-help {
        padding: $grid-gutter-width / 2;
    }

    main {
        z-index: 10;
    }
    #block-system-main {
        z-index: 42;
    }
}

.region-content > section.block,
.region-highlighted {
    margin-bottom: $grid-gutter-width;
}

.region-highlighted {
    // Shows in region highlight
    #block-views-news-promoted,
    #block-views-promoted-front {
        @include make-sm-column(12);
    }
}



//
// v2.5 New (over)views blocks placement
//
.region-content > {
    // Reset those blocks so they do not "float" (actually not) all around
    // LGAF & VGGT blocks (CP)
    #block-landbook-vggt-vis-vggt,
    #block-landbook-lgaf-vis,
    // On 2nd level TP & CP
    #block-landbook-infographics,
    // On 1st level TP & CP
    #block-landbook-media,
    #block-views-llr-promoted,
    section.block.view-coda,
    section.block-views {
        @include make-xs-column(12);
        padding-left: 0;
        padding-right: 0;
        margin-bottom: $grid-gutter-width;
    }

    // Blocks showing as 1/2 page
    #block-views-events-future,
    #block-views-events-calendar-month,
    section[id^="block-views-"][id$="-promoted"],
    section[id^="block-views-promoted"] {
        @include make-sm-column(6);
    }

    // Blocks showing as 1 columns
    // On Country top page (aka CP)
    #block-views-country-content-events,
    #block-views-country-content-blogs,
    #block-views-country-content-debates,
    #block-views-country-content-library,
    // On Issues top page (aka TP)
    #block-views-thematic-content-events,
    #block-views-thematic-content-blogs,
    #block-views-thematic-content-debates,
    #block-views-thematic-content-library,
    // On the Home page
    #block-views-promoted-discussions,
    #block-views-promoted-events,
    #block-views-promoted-data,
    #block-views-promoted-library,
    #block-views-debates-latest,
    #block-views-events-latest,
    #block-views-blog-latest {
        @include make-xs-column(6);
        @include make-sm-column(3);
        .view-content-inner > div:not(:first-of-type) {
            margin-top: $grid-gutter-width / 2;
        }
    }

    // Breakpoint
    #block-views-promoted-discussions {
        clear: left;
    }
}

// Specific to org page
.page-node-63185 .region-content > {
    // Navigation block
    #block-system-main,
    #block-views-org-ref-jump-geo,
    #block-views-org-ref-jump-themes,
    #block-views-org-ref-jump-types {
        @include make-sm-column(6);
        .block-title {
            @include lp-title();
        }
    }
    #block-views-org-ref-jump-geo,
    #block-views-org-ref-jump-themes,
    #block-views-org-ref-jump-types {
        float: right;
        clear: right;
        margin-bottom: 0;
    }
}
//
// End Of v2.5 New (over)views blocks placement
//



//
// Specific page layouts
//

// Blocks in full width with background
//   for: Front page & Countries landing page
body.front #block-system-main,
#block-views-lbgeo-regions {
    @include landportal-layout-full();
    @include landportal-background($bg-grey, $black);
}

// Content overflow
//   for: Taxonomy term pages,
//   page (CT), dataset (CT), sdgi (CT)
.page-taxonomy-term,
.node-type-dataset,
.node-type-page,
.node-type-sdgi {
    @include lp-content-overflow();
}

// Content with an aside, simulate a sidebar
// Like SDGi, datasets (nodes), indicators (tax)
.page-taxonomy-datasets .vocabulary-datasets,
.page-taxonomy-indicators .vocabulary-indicators,
.page-taxonomy-term .node.node-dataset,
.node-type-dataset .node.node-dataset,
.node-type-sdgi .node.node-sdgi {
    .group-main {
        @include make-sm-column(8);
    }
}



//
// Other elements
//

// Disclaimer blocks
// CT News
#block-block-1,
// Disclaimer for PRIndex
#block-block-11,
#block-landbook-disclaimer-block {
    @include lp-block-disclaimer();
    margin-bottom: 0;
}

// Social share buttons (addtoany module)
#block-addtoany-addtoany-button {
    float: right;
    padding-top: $grid-gutter-width / 2;
    padding-bottom: $grid-gutter-width / 2;
    text-align: right;
    .block-title {
        @include lp-title($font-size-small);
        font-style: italic;
        margin: 5px 0;
    }
    .addtoany_list > a {
        padding-right: 0;
    }
}

// Colored blocks (background)
// @todo: sort this out / consolidate editor elements
article div[class*="partners-colored-background"] {
    @include landportal-layout-full();
    padding-top: 15px;
    padding-bottom: 15px;
    @media #{$mobile} {
        margin-right: -$grid-gutter-width/2;
        margin-left: -$grid-gutter-width/2;
        padding-left: 15px;
        padding-right: 15px;
        width: initial;
    }
}
