//
// Land Library layout
//


// LLR teasers & list display
.node-listing.node-landlibrary-resource,
.node-teaser.node-landlibrary-resource {
    > header > .field-name-title-field,
    > .field {
        @include make-xs-column(9);
        float: right;
    }
    > header > .field-name-field-image {
        @include make-xs-column(3);
        @media #{$tablet} {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

// LLR Full page
.node-type-landlibrary-resource {
    .node-landlibrary-resource {
        .field-name-field-geographical-focus > .field-items:before,
        .group-landvoc:before {
            content: '' !important;
        }
        .group-left,
        .group-right {
            @include make-xs-column(6);
            @include make-sm-column(3);
            @include make-md-column(3);
        }
        .group-right {
            @include make-sm-column(6);
            @include make-md-column(3);
            @media #{$tablet} {
                float: right;
                clear: right;
            }
        }
        .group-main {
            @include make-xs-column(6);
            @include make-sm-column(9);
            @include make-md-column(6);
        }
        .group-right,
        .group-meta {
            @include landportal-background($bg-grey, $black);
            padding-bottom: $grid-gutter-width / 2;
        }
        .group-meta {
            padding-left: $grid-gutter-width / 2;
            padding-right: $grid-gutter-width / 2;
        }

        .field-name-field-doc-type {
            margin-top: $grid-gutter-width / 2;
            text-align: center;
        }

        .field-name-field-doc-is-shown-by-file,
        .field-name-field-doc-is-shown-by,
        .group-meta,
        .field-name-field-doc-is-shown-at,
        .group-left > .field-name-field-image {
            @include make-row();
            padding-bottom: $grid-gutter-width / 2;
        }

        .field-name-field-doc-is-shown-at a,
        .field-name-field-doc-is-shown-by-file .file,
        .field-name-field-doc-is-shown-by a {
            @extend .btn;
            @include button-variant($white, $ct-library, $red-darker);
            a { color: white; }
            white-space: initial;
            font-weight: bold;
            width: 100%;
        }
        // shows in a column
        .field-name-field-doc-is-shown-at a {
            @include button-variant($black, $white, $red-darker);
        }
		.field-name-field-doc-identifier,
		.field-name-field-doc-copyrights-statement {
			word-wrap:break-word;
		}
    }
}

// LL Sources page
.page-node-42169:not(.page-node-translate):not(.page-node-edit) {
    #block-system-main {
        // show as a sidebar
        @include make-sm-column(4);
        float: right !important;
        margin-right: -15px;
    }
    #block-views-llorg-all {
        // main
        @include make-sm-column(8);
        padding: 0;
    }
}



//
// Land Library style
//

// Library browse pages (views)
.view-library-pages {
    // page / view header(?)
    .view-id-library_browse.view-display-id-term {
        text-align: center;
    }
}

// LLR
.node-type-landlibrary-resource {
    &:not(.page-node-edit) .field-name-field-doc-type {
        &, a {
            color: $grey;
            font-size: $font-size-medium;
            text-transform: uppercase;
            font-family: $headings-font-family;
        }
        a:hover {
            color: $grey-dark;
        }
    }
}

