//
// Land Portal BootStrap Theme (LPBS)
//
// Author: Jules <jules@ker.bz>
//
// All sort of content listing settings
//

// View filters
#views-exposed-form-thematic-content-explore {
    #edit-field-geographical-focus-tid-entityreference-filter-wrapper {
        clear: left;
    }
}
#block-views-debates-latest {
    clear: left;
}

// hotfix
.views-row {
    @include clearfix();
    clear: both;
    border-top: 1px solid $grey-lighter;
    margin-bottom: 15px;
    padding-top: 15px;
}

.view:not(.teaser-fullwidth) {
    // For list views without views-row class,
    // space out lists elements with a bottom margin
    .view-content-inner > div:not(:last-of-type) {
        margin-bottom: $grid-gutter-width / 2;
    }
}


.view .date-nav-wrapper {
    clear: both;
}


// Search result pages and views basic settings
.page-search,
.page-library-search,
.page-mlike-search,
.view {
    @include clearfix();
    .pagination {
        text-align: center;
    }
    .more-link {
        margin-top: $grid-gutter-width / 2;
        float: right;
        text-align: right;
        font-style: italic;
        @extend %lp-font-aside;
    }
    .search-results,
    .view-empty,
    .view-content,
    >.text-center,
    .view-header,
    .view-footer {
        @include make-xs-column(12);
        padding-left: 0;
        padding-right: 0;
        .view-content-inner {
            clear: both;
        }
    }
    .view-header .view-content,
    .view-footer,
    .view-header {
        padding: 0;
    }
}

// Element with line separators, a search result or a view row
.search-result {
    position: relative;
    @include clearfix();
    &:not(:last-of-type) {
        border-bottom: 1px dotted $grey;
    }
    padding-top: $grid-gutter-width / 2;
    padding-bottom: $grid-gutter-width / 2;
}



//
// Views grid
//

> .view-content > .view-content-inner {
    .view-grid-2 & {
        @include landportal-grid(2);
    }
    .view-grid-3 & {
        @include landportal-grid(3);
    }
    .view-grid-4 & {
        @include landportal-grid(3, 4);
    }
    .view-grid-6 & {
        @include landportal-grid(4, 4, 6, 2);
    }
}

// Simple
.view-grid-5 > .view-content > .view-content-inner {
    @include clearfix();
    > div {
        width: 33.3%;
        float: left;
        @media #{$tablet} {
            width: 20%;
            &:nth-child(5n+1) { clear: left; }
        }
    }
}



//
// Views styling
//
// Views with exposed filters
.view-filters {
    .views-reset-button,
    .views-submit-button {
        float: right;
        margin-top: 20px;
    }
}

// @TODO rename class in views
.view-filter-aside,
.view-with-filters {
    .view-filters {
        @include make-sm-column(4);
        @include make-lg-column(2);
        float: right !important;
        clear: right;
        .views-exposed-form .views-exposed-widget {
            margin-bottom: $grid-gutter-width / 2;
        }
        .views-reset-button,
        .views-submit-button {
            float: right;
        }
    }
    >.view-empty,
    >.view-content {
        @include make-sm-column(8);
        @include make-lg-column(10);
    }
}

// Used in the CKE editor(?) / home page block element use that apparently
// and 'Special' views
.block-wrapped:hover {
    @include landportal-background-shadow();
}

.view-wrapped .view-content-inner > div {
    padding-bottom: $grid-gutter-width / 2;
    &:hover {
        @include landportal-background-shadow();
    }
}
/*     .views-field-rendered-entity { */
/*         margin: 0; */
/*     } */
/*     &:hover { */
/*         background-color: $grey-lighter; */
/*         @include box-shadow(3px 5px 10px $grey); */
/*         .field-name-body:after { */
/*             display: none; */
/*         } */
/*     } */
/* } */

// Land Book DS/IND unformatted list displays (which?)
.view-lbcat,
.view-lbind {
    > .view-content > ul {
        list-style-type: none;
        padding-left: 0;
    }
}



// Special grid view
// First item full, following one in 2 columns
//
// Used in SDGs and Dataset (CT) pages
//
@mixin lp-view-related() {
    .field-items,
    .view-content-inner {
        @include make-row();
        > div {
            @include make-sm-column(12);
        }
        > div:not(:first-of-type) {
            @include make-xs-column(6);
            margin-bottom: $grid-gutter-width / 2;
            &:nth-child(even) {
                clear: left;
            }
            &:nth-child(1n + 2):before {
                //border-top: 1px solid $grey;
                content: ' ';
                display: block;
                margin-top: $grid-gutter-width / 2;
                padding-bottom: $grid-gutter-width / 2;
            }
            &:nth-child(2n + 2):before {
                margin-right: -15px;
            }
            &:nth-child(2n + 3):before {
                margin-left: -15px;
            }
            .node-teaser {
                @include lp-teaser-full-width();
            }
        }
    }
}

.view-grid-related {
    @include lp-view-related();
    .node > footer,
    .node > .group-details {
        display: none;
    }
}



//
// Special view stylez
//
.view {
    // Generic class to render node teasers in 'vertical' mode
    &.teaser-fullwidth .node-teaser {
        @include lp-teaser-full-width();
    }

    // Those views display 3 teasers (or 5?)
    //  first one have double size
    &.grid-1and2 {
        // Add top margin only if in region-highlighted
        .region-highlighted & {
            margin-top: $grid-gutter-width;
        }
        .view-content-inner {
            @include make-row();
            > div {
                @include make-xs-column(6);
                @include make-sm-column(3);
                &:not(:first-of-type) {
                    float: right
                }
                &:not(:first-of-type) .node-teaser {
                    @include lp-teaser-full-width();
                    @media (max-width: $screen-xs-max) {
                        margin-top: $grid-gutter-width / 2;
                    }
                }
            }
            > div:first-of-type {
                @include make-xs-column(12);
                @include make-sm-column(6);
                .node-teaser .field { width: 50%; }
                @media (min-width: $screen-sm-min) {
                    .node-teaser {
                        @include lp-teaser-full-width();
                    }
                }
            }
            // If more then 3 teasers, break after the 3rd one
            @media (min-width: $screen-sm-min) {
                > div:nth-child(2n) { clear: right; }
            }
        }
    }
}



//
// @TODO: cleanup
//
// From Drupal (?)
// In admin CSS
#views-live-preview div.views-row + div.views-row {
    margin-top: 15px;
}
