//
// Global Stuff for menus
//
.nav {
    font-family: $font-family-sans-serif;
    font-size: $font-size-normal;
}

.dropdown-menu {
    padding: 0;
    margin: 0;
    @include border-radius(0);
    border-top: 0;
    > li {
        width: 100%;
        > a {
            @media (min-width: $screen-md-min) {
                padding: 10px 2em;
            }
        }
    }
}

// For menu dropdown on hover
ul.nav li.dropdown:hover ul.dropdown-menu {
  display: block;
}
ul.nav li.dropdown ul.dropdown-menu {
  margin-top: 0;
}

// Subnav
#page-submenu ul.nav li {
  background: $bg-grey-light;
  border-top: 1px solid $bg-grey;
  margin-bottom: 1px;
}

#page-submenu ul.nav li a:hover {
  background: $white;
}

// the login block does not show up in mobiles and tablets
ul.secondary {
  ul.dropdown-menu {
    @media #{$mobile} {                                                                                                                                             
     display: none !important;
    } 
  }
}
