// testing 123

// another element
#page-submenu .nav {
    text-align: center;
    margin-bottom: $grid-gutter-width;
    li {
        display: inline-block;
        a {
            border: 1px solid $grey;
            padding: .2em .5em;
        }
        &:not(:first-of-type) a {
            border-left: 0;
        }
    }
}
