//
// Countries and Issues (aka Thematic) narrative pages
//

#block-views-thematic-content-events,
#block-views-country-content-events,
#block-views-thematic-content-blogs,
#block-views-country-content-blogs,
#block-views-thematic-content-debates,
#block-views-country-content-debates,
#block-views-thematic-content-library,
#block-views-country-content-library {
    .node-teaser {
        @include lp-teaser-full-width();
    }
}

// Issues & Countries, 2nd level pages
.node-type-landbook-country .node-landbook-country,
.node-type-thematic-narrative .node-thematic-narrative {
    // In the node main content (not the header)
    .field-name-field-image {
        @include make-xs-column(4);
        float: right;
        padding-right: 0;
        padding-bottom: $grid-gutter-width / 2;
        @media (min-width: $screen-sm-min) {
            float: right;
            padding-right: 0;
            padding-left: $grid-gutter-width;
        }
    }
}
.node-type-landbook-country,
.node-type-thematic-narrative {
    .page-header {
        .field-name-field-landvoc-to,
        .field-name-field-geographical-focus {
            display: none;
        }
    }
    &.no-sidebars {
        .node-landbook-country,
        .node-thematic-narrative {
            .group-main {
                float: none;
            }
        }
    }
}

.node-landbook-country.node-teaser,
.node-thematic-narrative.node-teaser {

    .field-name-title-field {
        display: none;
    }

    // Da 'fake' title
    .field-name-field-landvoc-to,
    .field-name-field-geographical-focus {
        .field-item {
            @extend .h3;
            @include lp-title();
        }
    }
    // Latest narrative in the regions or themes taxonomy page
    .page-taxonomy-themes &,
    .page-taxonomy-landvoc_concepts &,
    .page-taxonomy-regions & {
        .field-name-field-landvoc-to,
        .field-name-field-geographical-focus {
            display: none;
        }
        .field-name-title-field {
            display: initial;
        }
        .field-name-body {
            max-height: unset;
            h1, h2, h3, p {
                color: $black;
            }
            h2 { font-size: $font-size-large; }
            h3 { font-size: $font-size-medium; }
            p { font-size: $font-size-normal; }
        }

        > footer > .links,
        > header > .field,
        > .field {
            @include make-lg-column(9);
            float: left;
            clear: left;
            padding-left: 0;
            @media (min-width: $screen-lg-min) {
                float: left;
                clear: left;
                padding-left: 0;
            }
        }
        header > .field-name-field-image,
        .field-name-field-image {
            @include make-lg-column(3);
            float: right;
            padding-right: 0;
            @media (min-width: $screen-sm-min) {
                float: right;
                padding-left: $grid-gutter-width / 2;
                padding-right: 0;
            }
            @media (min-width: $screen-lg-min) {
                float: right;
                padding-left: $grid-gutter-width / 2;
                padding-right: 0;
            }
        }
    }
}

.page-taxonomy-themes,
.node-thematic-narrative,
.page-taxonomy-regions,
.node-type-landbook-country {
    @media #{$tablet} {
        .view-coda-spider,
        .view-coda-pie {
            width: 50%;
            float: left;
        }
    }
}

//
// Style for vis blocks (1st level narrative pages)
//
.page-taxonomy-themes,
.page-taxonomy-landvoc_concepts,
.node-thematic-narrative,
.page-taxonomy-regions,
.node-type-landbook-country {
    .view-display-id-last_vis .view-content-inner > div:first-of-type {
        @include landportal-layout-full();
        background-color: $bg-grey;
    }
}


.page-issues-news,
.page-issues-debate,
.page-issues-event,
.page-issues-blog-post,
.page-issues-organization,
.page-countries-news,
.page-countries-debate,
.page-countries-event,
.page-countries-organization,
.page-countries-blog-post {
    main.container {
        .page-header {
            display: none;
        }
        .view-header .taxonomy-term {
            .field-name-name-field {
                .field-item > * {
                    @include lp-page-title();
                    a {
                        color: $grey-dark;
                    }
                }
            }
        }
    }
}
