//
// Land Portal BootStrap Theme (LPBS)
//
// Author: Jules <jules@ker.bz>
//
// Drupal Nodes
// This file should contain everything that applies to node elements
//

///////////////////////////////////////////
//
// ALL nodes
//
.node {
    //
    // Layout
    //
    @include clearfix;
    position: relative;
    clear: both;

    .group-main {
        @include lp-content-main();
    }
    .group-aside {
        @include lp-content-aside();
    }
    .group-split {
        @include make-row();
        > * {
            @include make-sm-column(6);
        }
    }

    //
    // Style pimpin
    //
    @include lp-body();
    .list-inline {
        display: inline;
        margin-bottom: 0;
    }
    // This info not shown in LP(?)
    // It would be useful to have information on node publication/authoring (creation, update, author(s)...)
    .submitted {
        text-align: right;
    }
    .field-name-body,
    .field-name-field-doc-description,
    .field-name-comment-body {
        > .field-items > .field-item {
            @include clearfix();
        }
        p img {
            padding: $grid-gutter-width / 2;
            &[style*="float:left"] {
                padding: 0 $grid-gutter-width / 2  $grid-gutter-width / 2 0;
            }
            &[style*="float:right"] {
                padding: 0 0 $grid-gutter-width / 2  $grid-gutter-width / 2;
            }
        }
    }
    footer .links {
        font-style: italic;
        margin-left: 0;
        &.list-inline > li { padding: 0; }
    }
    .translations {
        color: $font-grey-light;
        //.info { padding-right: 5px; }
    }
    &:not(.node-debate) footer .translations {
        @include sr-only();
    }
}

///////////////////////////////////////////
//
// Teasers, Search results
//

.node-listing,
.node-teaser {
    // Hide stuff
    .node-readmore {
        @include sr-only();
    }

    //
    // Layout
    //
    position: relative;
    overflow: hidden;

    > .location-locations-display,
    > footer > *,
    > header > .field,
    > .field {
        @include make-xs-column(9);
        @include make-sm-column(6);
        @media screen {
            float: right;
            clear: right;
        }
    }
    > .field-name-field-image,
    > header > .field-name-field-image {
        @include make-xs-column(3);
        @include make-sm-column(6);
        float: left;
        padding-left: 0;
        //padding-right: 0;
    }

    //
    // Style pimpin
    //
    // Limit Body height
    &.node {
        @extend %lp-body-teaser;
    }
}

.node-listing {
    //
    // Layout
    //
    position: relative;
    overflow: hidden;
    > .field,
    > header > .field,
    > .location-locations-display {
        @include make-xs-column(9);
        float: right;
    }
    > .field-name-field-image,
    > header > .field-name-field-image {
        @include make-xs-column(3);
        padding-left: 0;
        padding-right: 0;
    }
    .field-name-title-field h3 {
        margin-top: 0;
    }

    //
    // Style pimpin
    //
    // theme hack: show CT
    .node-ct {
        position: absolute;
        z-index: 1;
        transform-origin: left;
        transform: translate(10px, -10px) rotate(90deg);
        background-color: rgba(0, 0, 0, .3);
        color: white;
        padding: 3px;
        font-size: 10px;
        text-transform: uppercase;
        font-family: $font-family-sans-serif;
    }
    // Limit body height
    .field-name-field-doc-description,
    //.field-name-description-field,
    .field-name-body {
        max-height: 8.5em;
        overflow: hidden;
    }
}

.node-teaser {
    //
    // @TODO fix and improve, should be nicer UI
    // LIMIT teasers summary tesxt height.
    //
    .field-name-field-doc-description,
    .field-name-body {
        max-height: 5.5em;
        overflow: hidden;
    }
    // Sticky teasers
    &.node-sticky {
       // @include landportal-background(rgba($blue-lighter, .3));
    }
}

#tabs-accordion-about-us-middle .resp-tabs-container {
  h2:first-child {
    background-color:#009999 !important;
    border: solid 1px #009999 !important; 
  }
  h2:nth-of-type(2) {
    background-color:#3399cc !important;
    border: solid 1px #3399cc !important; 
  }
  
  h2:nth-of-type(3) {
    background-color:#cccc00 !important;
    border: solid 1px #cccc00 !important; 
  }
  
  h2:nth-of-type(4) {
    background-color:#ff9900 !important;
    border: solid 1px #ff9900 !important; 
  }
  
  h2:nth-of-type(5) {
    background-color:#e4332b !important;
    border: solid 1px #e4332b !important; 
  }
  




}
