//
// For organization details page
//
.node-organization {
    .field-name-field-user .field-item {
        display: inline-block;
    }
    .field-name-field-acronym .field-item {
        font-style: italic;
        font-size: .9em;
    }
}

//
// For Teasers and Search results
//
.node-listing.node-organization,
.node-teaser.node-organization {
    // Same as node teasers but force img to keep 1/4
    > .location-locations-display,
    > footer > .links,
    > header > .field,
    > .field {
        @include make-xs-column(12);
        @include make-sm-column(9);
        @media screen {
            float: right;
            clear: right;
        }
    }
    > header {
        .field-name-title-field {
            max-height: unset;
        }
        .field-name-title-field h4 {
            .acronym {
                font-size: $font-size-small;
                font-style: italic;
                font-weight: normal;
            }
        }
        > .field-name-field-image {
            @include make-xs-column(3);
            @include make-sm-column(3);
            padding-top: $grid-gutter-width / 2;
            padding-bottom: $grid-gutter-width / 2;
            padding-left: 0;
        }
    }
    .field-name-field-organization-type {
        .field-item {
            @extend .label;
            @include label-variant($bg-grey);
            color: $font-grey;
            text-transform: uppercase;
            font-family: $headings-font-family;
        }
    }
}

.node .group-aside,
.taxonomy-full:not(.vocabulary-datasets):not(.vocabulary-indicators) .group-aside {
    .field-name-field-doc-provider,
    .field-name-field-doc-publisher,
    .field-name-field-partners,
    .field-name-field-donors,
    .field-name-field-implementers,
    .field-name-field-orgref {
        @include clearfix();
    }
    .node-organization.node-teaser {

        // Make them float
        @include make-xs-column(6);
        @include make-md-column(6);
        clear: none;
        /* padding-left: 0; */
        /* padding-right: 0; */
        @include lp-teaser-full-width();
        min-width: 160px;
        //> header > .field { width: auto; }
    }
}

.taxonomy-full.vocabulary-indicators,
.taxonomy-full.vocabulary-datasets {
    .group-aside .node-organization.node-teaser {
        //border-top: 0;
        .field-name-body {
            display: none;
        }
    }
}

//
// For organization that appears inside another teaser
//
.taxonomy-term,
.node {
    .node-teaser.node-organization {
        > header > .field-name-title-field .field-item > * {
            @include lp-title(16px);
        }
    }
}



///////////////////////////////////////////
//
// Single pages (full)
//
.page-node .preview,
.page-node #block-system-main > {
    .node-organization {
        .group-aside {
            float: left;
            .field-name-field-image {
                text-align: center;
            }
        }
        .field-name-field-user,
        .field-name-body,
        .group-topics-regions {
            @include make-xs-column(8);
            float: right !important;
        }
        .field-name-field-user {
            @media #{$mobile} {
                @include make-xs-column(8);
                float: right !important;
            }
        }        
        .field-name-field-related-organization {
            @include make-sm-column(12);
            .field-name-field-orgref > .field-items > .field-item {
                @include make-sm-column(4);
                @include make-md-column(3);
            }
        }
    }
}
