///////////////////////////////////////////
//
// M-LIKE partners site style
//
//
// LP group ID: 41826
//

// M-LIKE colors
$partner-mlike-blue:            #17848B;        // Partners menu bg
$partner-mlike-blue-light:      #46BAB8;        // LP footer
$partner-mlike-green:           #D1DB47;
$partner-mlike-orange:          #f9b122;

%partners-mlike-font-header {
    font-family: 'Merriweather', serif;
    font-weight: 700;
}

%partners-mlike-font-text {
    font-family: 'Open Sans', sans-serif;
}

// M-LIKE fonts
// title        Merriweather-Bold
// top menu     OpenSans-Semibold
// text         OpenSans-Semibold

@mixin partners-mlike-button($color: $partner-mlike-green) {
    @extend .partners-button;
    @extend %partners-mlike-font-text;
    @include border-radius(2em);
    border: 0;
    background-color: $color;
    color: white;
    &:hover,
    &:focus,
    &:active,
    &.active,
    .open > &.dropdown-toggle {
        color: white;
    }
    &:hover,
    &:active {
        background-color: darken($color, 7%);
    }
}

@mixin partners-mlike-colors() {
    // override default partners BG
    .bg-blue,
    .partners-colored-background {
        background-color: $partner-mlike-blue-light;
    }
    .partners-arrow,
    .bg-green,
    .partners-colored-background-1 {
        background-color: $partner-mlike-green;
    }
    .partners-arrow:after {
        border-left: 30px solid $partner-mlike-green;
    }
    .bg-orange,
    .partners-colored-background-2 {
        background-color: $partner-mlike-orange;
        color: $black;
    }
}

// Apply MLIKE specific sytles
.cke_editable.og-context-node-41826,
.page-partners-mlike-search,
.page-partners-mlike-content .field-name-body,
.og-context-node-41826 .field-name-body {
    @include partners-mlike-colors();
}

//
// MLIKE site pages
//
.page-partners-mlike-search,
.page-partners-mlike-content,
.page-node-edit.og-context-node-41826,
.page-node-add.og-context-node-41826,
.og-context-node-41826 {
    a {
        color: $partner-mlike-blue;
    }
    /* .node-readmore { */
    /*     display: inline-block; */
    /* } */
    
    #page-header {
        @include landportal-background($partner-mlike-blue-light, $white, $white);
        background-image: image-url('partners/mlike-header-bg.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 200px;
        .block-menu {
            @include colored-text($white);
            height: 200px;
            width: initial;
            float: none;
            z-index: 12;
            .logo {
                position: absolute;
                top: $grid-gutter-width / 2;
            }
            .block-title {
                display: none;
            }
            .menu,
            .dropdown-menu {
                > li > a {
                    font-weight: normal;
                    @include landportal-background($partner-mlike-blue, $white, $white);
                    &:hover {
                        @include landportal-background($partner-mlike-blue, $white, $white);
                        @include box-shadow(inset 0 7px 10px 0 rgba($grey-dark, .10));
                    }
                    &.active {
                        background-color: $partner-mlike-green;
                    }
                }
            }
            ul.menu {
                position: absolute;
                bottom: -20px;
                //background-color: transparent;
                border: 0;
                @media #{$mobile} {
                    margin-left: $grid-gutter-width / 2;
                }
            }
        }
        #block-apachesolr-search-search-form-mlike-search {
            width: initial;
            float: right;
            margin-top: 120px;
            z-index: 15;
            label { display: none; }
        }
    }

    .breadcrumb {
        display: none;
    }

    .page-header {
        margin-top: $grid-gutter-width / 2;
    }

    &.page-node-edit,
    &.page-node-add {
        .page-header {
            margin-top: $grid-gutter-width;
        }
    }

    main .search-form {
        margin-top: $grid-gutter-width / 2;
    }

    // LP views lists
    .region-content .view:not([class*="view-grid"]) .view-content .views-row {
        border-color: $partner-mlike-blue-light;
        padding: $grid-gutter-width 0;
    }

    .preview article,
    #block-system-main {
        @extend %partners-mlike-font-text;
        h1 {
            @extend %partners-mlike-font-text;
            color: $black;
            font-weight: 800;
            padding-bottom: 0;
            border: 0;
        }
        h2, h3 {
            @extend %partners-mlike-font-header;
        }
    }

    // Only on a MLIKE (front) page
    &.node-type-partners:not(.page-node-edit) {
        #block-system-main {
            // MLIKE Home page floating blocks style
            .home-featured div.row {
                @media #{$tablet} {
                &:nth-child(-n+2) {
                    margin-top: -85px;
                }
                &:nth-child(n+2) {
                    margin-bottom: -85px;
                }
            }
                @media #{$normal} {
                    margin-bottom: -85px;
                    margin-top: -85px;
                }
            }
            // Remove clearfix to let body float over the next block (map)
            .field-name-body > .field-items > .field-item {
                &:before,
                &:after {
                    display: none;
                }
            }
        }
    }

    &.no-sidebars .region-content > .block-webform {
        @include landportal-layout-full(null);
        .node-webform {
            header { display: none; }
            .field-name-body,
            form {
                @include make-sm-column(6);
                padding: 0;
            }
            form {
                float: right;
            }
        }
    }

    // Inside an M-LIKE page
    .node-partners,
    .node-partners-page {
        //
        // Color overrides for partners page
        //
        ul:not(.list-inline) li:before {
            border-color: $partner-mlike-blue-light;
        }
        .partners-colored-background ul li:before {
            border-color: $partner-mlike-green;
        }
        blockquote {
            &:before,
            &:after {
                color: $partner-mlike-orange;
            }
        }
        >.field-name-body h1,
        header h1 {
            @extend %partners-mlike-font-text;
            font-weight: 800;
            &:after {
                border-color: $partner-mlike-blue-light;
            }
        }
        >.field-name-body {
            @extend %partners-mlike-font-text;
            color: $grey;
            clear: both;
            h2, h3 {
                @extend %partners-mlike-font-header;
            }
        }
    }



    // First try implementing 'standing blocks'
    .home-featured div[class*="col-"] {
        margin-bottom: 15px;
        overflow: hidden;
        z-index: 10;
        background-color: $white;
        position: relative;
        @media #{$tablet} {
            min-height: 250px;
            width: 49%;
            margin-left: 0.5%;
            margin-right: 0.5%;
            @media (max-width: $screen-sm-max) {
                &:nth-child(2n+1) { clear: left; }
            }
        }
        @media #{$normal} {
            min-height: 350px;
            width: 24%;
        }
        &:hover {
            @include box-shadow(3px 5px 10px $grey);
        }
        h1, h2, h3 {
            @include make-row();
            margin-top: 0;
            margin-bottom: 0;
            padding: .5em;
            text-align: center;
            background-color: $partner-mlike-blue;
            @include colored-text(white);
        }
        .more {
            @extend .partners-corner;
            &:before {
                border-right-color: $partner-mlike-green;
            }
        }
    }


    // Carousel stuff
    .carousel-indicators li {
        border-color: $partner-mlike-green;
        &.active {
            background-color: $partner-mlike-green;
        }
    }
    .carousel-caption .node-readmore {
        padding: 1em 0 2em;
        a {
            letter-spacing: -.41px;
            padding: .8em 1.5em;
            text-shadow: none;
            text-transform: uppercase;
            font-weight: 600;
            @include partners-mlike-button();
        }
    }
    #block-views-partners-content-featured {
        .carousel-inner .item {
            height: 240px;
        }
        .carousel-caption {
            position: absolute;
            width: 100%;
            height: 100%;
            right: 0;
            left: 0;
            top: 0;
            padding: $grid-gutter-width 40% $grid-gutter-width 8%;
            @media #{$mobile} {
                padding: $grid-gutter-width / 2;
            }
            text-align: left;
            font-size: .9em;
            @include background(linear-gradient(-45deg, rgba($white, 0), rgba($partner-mlike-blue, 0.6)));
            @include colored-text($white, $white);
        }
    }
    #block-views-partners-content-promoted {
        .carousel-caption,
        .carousel-inner .item {
            height: 440px;
        }
        .carousel-inner .item img {
            min-height: 440px;
        }
        .carousel-caption {
            .node-readmore {
                background-color: rgba($partner-mlike-blue, .2);
                position: absolute;
                bottom: 80px;
            }
            position: absolute;
            width: 100%;
            @media #{$tablet} {
                width: 42%;
                left: 16%;
            }
            padding: 100px ($grid-gutter-width / 2) 80px;
            text-align: left;
            bottom: 0;
            background-color: rgba($partner-mlike-blue, .3);
            @include background(linear-gradient(rgba($white, 0), rgba($partner-mlike-blue, 0.6)));
            @include colored-text($white, $white);
        }
    }
    // Main site footer
    > footer {
        @include landportal-background($partner-mlike-blue-light, $white, $white);
    }
}

#block-landbook-view-coda-lbvc-map-mlike {
    @include landportal-layout-full(null);
    .highcharts-legend {
        display: none;
    }
}

#page-header .region-header {
    #block-landportal-partners-mlike-header-links {
        position: absolute;
        width: initial;
        right: 0;
        top: 0;
        z-index: 15;
        text-align: right;
        padding: $grid-gutter-width / 2 $grid-gutter-width / 2 0 0;
        .fa { font-size: $font-size-larger; }
    }
}

// Search page
.page-partners-mlike-search {
    #block-apachesolr-search-search-form-mlike-search,
    .page-header {
        display: none;
    }
}
.page-partners-mlike-content,
.page-partners-mlike-search {
    main.container {
        padding-top: $grid-gutter-width;
    }
}
