///////////////////////////////////////////
//
// LEGEND Partners site style
//
//
// LP group ID: 36570
//
// LEGEND colors
$partner-legend-grey:           #4A4A4A;
$partner-legend-blue:           #0096d8;
$partner-legend-blue-hp:        #058DC7;
$partner-legend-blue-light:     #01bbba;
$partner-legend-blue-dash:      #46BAB8;
$partner-legend-green:          #95c300;
$partner-legend-green-darker:   #046240;
$partner-legend-orange:         #f9b122;



//
// LEGEND specific classes
//

@mixin partners-legend-button($color: $partner-legend-green) {
    @extend .partners-button;
    border: 5px solid $color;
    a {
        color: black;
        font-style: normal;
    }
    &:hover,
    &:focus,
    &:active,
    &.active,
    .open > .dropdown-toggle {
        color: white;
        background-color: $color;
        a { color: white; }
    }
    &:active {
        background-color: darken($color, 7%);
    }
}

@mixin partners-legend-colors() {
    a {
        color: $partner-legend-blue;
    }

    // Partners colored BG (full-width blocks)
    .partners-colored-background {
        @include landportal-background($partner-legend-blue, white, white);
    }
    .partners-colored-background-1 {
        @include landportal-background($partner-legend-green, white, white);
    }
    .partners-colored-background-2 {
        @include landportal-background($partner-legend-orange, white, white);
    }

    // LP button elements
    /* .partners-button, */
    .node-readmore,
    .lp-button {
        @include partners-legend-button();
    }
    .lp-button-1 {
        @include partners-legend-button($partner-legend-blue-light);
    }
    .lp-button-2 {
        @include partners-legend-button($partner-legend-orange);
    }
}



//
// LEGEND subsite pages
//

.page-partners-legend-content,
.og-context-node-36570 {
    // Apply to all elements in LEGEND subsite context
    @include partners-legend-colors();

    // Site header
    #page-header {
        .block-menu {
            // Top Menu Logo
            .logo {
                position: absolute;
                padding: 32px 20px 16px;
                background-color: rgba($white, .6);
                img {
                    height: 75px;
                    width: auto;
                }
            }
        }
        #block-views-partners-content-promoted {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &:not(.page-node-edit):not(.page-node-add) #page-header {
        height: 180px;
        .block-menu {
            .menu {
                top: 120px;
            }
        }
    }
    //&.page-partners-legend-content,
    &.page-node-edit,
    &.page-node-add {
        #page-header {
            background-color: $partner-legend-green;
            #block-views-partners-content-promoted {
                display: none;
            }
            .block-menu {
                height: 200px;
                .menu {
                    bottom: 0;
                }
            }
        }
        .region-help h2#block-title {
            display: none;
        }

    }

    // Footer
    > footer {
        @include landportal-background($partner-legend-blue, $white, $white);
    }

    //
    // Promoted and Featured (carousel)
    //
    #block-views-partners-content-promoted,
    #block-views-partners-content-featured {
        .carousel-indicators {
            display: none;
        }
    }
    #block-views-partners-content-featured {
        .carousel-inner .item {
            height: 240px;
        }
        .carousel-caption {
            width: 40%;
            left: 8.33%;
            text-align: left;
            font-size: .9em;
        }
    }
    #block-views-partners-content-promoted {
        .carousel-caption,
        .carousel-inner .item {
            height: 500px;
        }
        .carousel.slide .carousel-inner .item .carousel-caption {
            position: absolute;
            top: 20%;
            bottom: 0;
            left: initial;
            right: percentage(1 / $grid-columns);
            //width: 40%;
            max-width: 500px;
            height: 80%;
            
            @include landportal-background($partner-legend-blue-hp, $white, $white);
            background-color: rgba($partner-legend-blue-hp, .8);
            text-align: right;
            padding: $grid-gutter-width;
            .node-readmore {
                position: absolute;
                bottom: 70px;
                right: $grid-gutter-width;
                z-index: 10;
            }
        }
    }

    // Hide LEGEND pages main Drupal title
    .node-partners-page>header>h1,
    .node-partners>header>h1 {
        display: none;
    }



    //
    // LEGEND pages content
    //
    &.cke_editable,
    .node-partners,
    .node-partners-page {
        font-family: $font-family-serif;
        color: $partner-legend-grey;

        // Basic elements
        h1, h2, h3 {
            font-family: $font-family-sans-serif;
            font-weight: bold;
        }
        h1, h2 {
            margin-bottom: 20px;
            &:after {
                @include colored-dash($partner-legend-blue-light, 58px);
                margin-top: 20px;
            }
            // Center-align dashed
            &.rtecenter:after {
                margin-left: auto;
                margin-right: auto;
            }
        }
        h2 {
            font-size: 2em;
        }
        ul:not(.list-inline) li:before {
            border-color: $partner-legend-blue-light;
        }
        blockquote {
            &:before,
            &:after {
                color: $partner-legend-orange;
                font-size: 2em;
            }
        }
        .field-name-body {
            // Embeded nodes in field-body
            article {
                @extend .partners-colored-background;
            }
        }
    }
}

.og-context-node-36570 {
    &:not(.page-node-edit):not(.page-node-add) #page-header {
        height: 500px;
        .block-menu {
            .menu {
                top: 440px;
            }
        }
    }
}



//
// LEGEND specific blocks
//
// Only style here, layout goes in PP context
#page-header .region-header #block-menu-menu-legend {
    .nav,
    .dropdown-menu {
        @include colored-text($white, $white);
        > li > a {
            background-color: transparent;
            text-transform: none;
            height: 60px;
            padding: 19px 28px;
            &.active {
                background-color: rgba($white, .1);
            }
        }
    }
    .nav {
        position: absolute;
        left: 0;
        z-index: 12;
        width: 100%;
        background-color: rgba($partner-legend-green-darker, .9);
        // Bottom triangle for active parent menu items
        >li.active {
            background-color: initial;
            >a:after {
                @include caret(top, 10px, $white);
                content: ' ';
                display: block;
                position: absolute;
                bottom: 0;
                left: 50%;
                margin: 0 0 0 -10px;
            }
        }
        .dropdown-menu {
            background-color: $partner-legend-green-darker;
            > li > a {
                &:hover {
                    background-color: initial;
                    @include box-shadow(inset 0 7px 10px 0 rgba($white, .4));
                }
                &:hover,
                &.active {
                    background-color: darken($partner-legend-green-darker, 7%);
                }
            }
            > li:not(:first-of-type) > a {
                border-top: 1px solid rgba($white, .4);
            }
        }
    }
}

// Contact form
#block-landportal-partners-legend-contact {
    border: 5px solid $partner-legend-orange;
    width: 30%;
    margin: 1em 35%;
    padding: $grid-gutter-width;
    text-align: center;
    h2 { margin: 0; }
}

//
// All those blocks should take the page full width
//
#block-webform-client-block-14275,
#block-mailchimp-signup-legend-bulletin {
    @include colored-text($white);
    .btn-default,
    .btn-primary {
        color: white;
        background-color: transparent;
        border: 5px solid $grey-dark;
        @include border-radius(0);
    }
}

//
// @TODO: cleanup
//
// A special mixin that split a block in half and show an image on the left or right
//
@mixin landportal-layout-half($dir: "left", $img: "") {
    @include landportal-layout-full(null);
    @media #{$tablet} {
    @if $img {
        background-image: image-url($img);
        background-repeat: no-repeat;
        background-size: 50% auto;
    }
    }
    background-position: right;
    @if not $dir == left {
        background-position: left;
    }
    @media #{$mobile} {
        padding-right: $grid-gutter-width;
        padding-left: $grid-gutter-width;
    }
    @media #{$tablet} {
        padding-right: 65%;
        padding-left: 10%;
        @if not $dir == left {
            padding-left: 65%;
            padding-right: 10%;
        }
    }
    @media #{$wide} {
        padding-right: 85%;
        @if not $dir == left {
            padding-left: 85%;
        }
    }
}

#block-mailchimp-signup-legend-bulletin {
    background-color: $partner-legend-green;
    @include landportal-layout-half(right, 'partners/sq-road.png');
}

// LEGEND KPMG FAQ Form for challenge fund pages
#block-webform-client-block-14275 {
    background-color: $partner-legend-orange;
    @include landportal-layout-half(right);
}

.node-type-partners-page.og-context, .node-type-partners-page.og-context {
  .node-listing.node-landlibrary-resource > header > .field-name-field-image, .node-teaser.node-landlibrary-resource > header > .field-name-field-image {
    width: 15%;
  }
  .node-partners-page .field-item {
    margin-bottom: 15px;
  }
}

