//
// LP subsite
// Illegal Land Use Research Project
// (aka Squatting and neighbors conflicts over land)
//

$ilurp-red:     #DC002D;
$ilurp-blue:    #029FED;

$ilurp-grey:    #404040;
$ilurp-grey-light:    #F6F6F6;

// OG group ID
.og-context-node-71004 {
    #page-header {
        border-top: 5px solid $ilurp-red;
        border-bottom: 2px solid $ilurp-red;
        @include landportal-background($white, $ilurp-red, $ilurp-red);
        //color: $ilurp-grey;
        // menu
        .block-menu {
            .logo {
                padding: $grid-gutter-width / 2;
                padding-left: 0;
                float: left;
            }
        }
        .nav {
            @include landportal-layout-full();
            @include landportal-background($ilurp-red, $white);
            .active a {
                @include landportal-background($white, $ilurp-red, $ilurp-red);
            }
            a {
                @include landportal-background($ilurp-red, $white);
                @include box-shadow(inset 0 7px 8px -7px rgba(0,0,0,.25));
                &:hover {
                    @include landportal-background($white, $ilurp-red, $ilurp-red);
                }
            }
        }
    }
}
