///////////////////////////////////////////
//
// Land Portal Partners Sites
//
// Author: Jules Clement <jules@ker.bz>
//

// for Partners only?
.view-partners-content {
    .carousel-inner .item {
        height: 400px;
        overflow: hidden;
        > img,
        > a > img {
            min-width: 100%;
            min-height: 100%;
        }
    }
}

div[class*="partners-colored-background"] {
    h1:after, h2:after, h3:after {
        border-color: white;
    }
}
.partners-colored-background {
    @include clearfix;
    @include colored-text($white);
    background-color: $blue;
    clear: both;
    margin-bottom: 1px;
}
.partners-colored-background-1 {
    @extend .partners-colored-background;
    background-color: $green;
}
.partners-colored-background-2 {
    @extend .partners-colored-background;
    background-color: $red;
}

.page-partners .view-partners-wrapper {
    .view-content {
        padding: 0;
    }
    .node > header {
        @include landportal-image-full-blured();
    }
}

//
// Design Building Block
//

.partners-button {
    @extend .btn;
    @include border-radius(0);
    border: 5px solid $green;
    text-transform: none;
    white-space: unset;
    cursor: initial;
}

.partners-arrow {
    position: relative;
    padding: 0 1em;
    margin-top: -30px;
    margin-right: 35px;
    margin-left: 0;
    z-index: 10;
    line-height: 60px;
    float: left;
    @include colored-text($white);
    background-color: $blue;
    // Arrow
    &:after {
        content: ' ';
        position: absolute;
        right: -30px;
        top: 0;
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        border-left: 30px solid $blue;
    }
}
.partners-corner {
    height: 75px;
    width: 75px;
    &:before {
        content: ' ';
        height: 75px;
        width: 75px;
        position: absolute;
        bottom: 0;
        right: 0;
        border-right: 75px solid $green;
        border-top: 75px solid transparent;
    }
    i.fa {
        font-size: 22px;
        font-weight: bold;
    }
    a {
        position: absolute;
        bottom: 8px;
        right: 12px;
        text-align: right;
        color: white !important;
        &:hover {
            text-decoration: none;
        }
    }
}

@mixin partners-block-2-columns() {
    clear: both;
    >div,
    >footer,
    >header>* {
        width: 50%;
        clear: none;
    }
    .group-topics-regions {
        display: none;
    }
    .field-name-field-image {
        width: 100%;
        overflow-y: hidden;
        padding: 0;
        img {
            min-height: 300px;
            @include box-shadow(none);
        }
    }
    footer {
        float: right;
        clear: right;
    }
}



///////////////////////////////////////////
//
// Partners subsite (group & page)
//

// Hide title of subsites homepage (partners node)
//.node-type-partners-page,
.node-type-partners:not(.page-node-edit) {
    .page-header {
        display: none;
    }
}

.page-node-add-partners,
.page-node-add-partners-page,
.page-node-edit.node-type-partners-page,
.page-node-edit.node-type-partners {
    .node-form > div > .field-name-body {
        width: 100%;
    }
}

// On all partners pages
.page-partners-mlike-search,
.page-partners,
.node-type-partners-page,
.page-node-add-partners-page,
.node-type-partners {
    #block-menu-landportal-menu {
        display: none;
    }
    // Land Portal  'top' bar
    #navbar {
        .navbar-header {
            position: absolute;
            top: 0;
            width: 100px;
            height: 100%;
            // LP logo
            a.logo {
                margin: 0; padding: 0;
                height: 100%;
                img { max-height: 100%; }
            }
        }
        .region-navigation #block-search-form {
            display: none;
        }
        nav {
            margin-left: 100px;
        }
    }
    #page-header .block-menu {
        padding: 0;
        z-index: 110;
        .nav {
            > li > a {
                font-weight: normal;
                padding: $grid-gutter-width / 3 $grid-gutter-width / 2;
            }
        }
        p { padding: 0; margin: 0; width: initial; }
    }
    .page-header header {
        margin-bottom: 0;
    }

    .main-container .region-highlighted {
        @include landportal-layout-full(false);
        margin-bottom: 0;
    }
}

///////////////////////////////////////////
//
// Partners Pages / specific blocks
//
#block-views-partners-content-featured,
#block-views-partners-content-featured {
    @include landportal-layout-full(null);
}

#page-header .region-header #block-views-partners-content-promoted {
    padding: 0;
    .view {
        @include landportal-layout-full(false);
    }
}
#block-views-partners-content-promoted {
     .carousel-caption {
        h3 {
            margin: 0;
            font-size: $font-size-large;
            font-weight: bold;
        }
        a:hover,
        a {
            color: white;
            text-decoration: none;
        }
    }
}

#block-landportal-partners-legend-footer-links,
#block-landportal-partners-mlike-footer-links {
    @include make-sm-column(4);
    @include make-md-column-offset(0);
    @include make-md-column(3);
}


.page-partners {
  article {
    .field-name-field-image {
      position: relative;
    }
    .field-name-body {
      padding: 15px;
    }
  }

  .view-partners-wrapper .node > header > .field-name-field-image .field-item:nth-child(2) {
    position: absolute;
    overflow: hidden;
    bottom: 30px;
    left: 0;
    width: 150%;
    z-index: -2;
    margin-left: -20%;
  }

}

@media only screen and (max-width: 414px)  {
  .view-partners-wrapper .node > header > .field-name-field-image .field-item:nth-child(2) {
    display: none;
  }
}

