@media print {

    #block-landportal-blocks-lp-share,
    .field-name-field-image a:after,
    .username:after,
    .navbar-toggle,
    .navbar nav,
    ul.nav,
    .view-promoted,
    form {
        display: none;
    }

    .navbar {
        display: block;
    }
    a[href]:after {
        font-size: .8em;
        color: $grey;
    }
    .field-name-title-field a:after {
        font-size: 10pt;
    }
    .collapse {
        display: block;
        opacity: 1;
    }
}
