// Project Full page
.node-type-project {
    .node-project {
    }
}

.node-type-project .group-associated-staff .field-name-field-user {
    @include make-sm-column(8);
    >.field-items>.field-item {
        float: left;
        padding-left: $grid-gutter-width / 2;
    }

}
