//
// Land Portal BootStrap Theme (LPBS)
//
// Author: Jules <jules@ker.bz>
//
// SDGs section
//

$sdgs-goal-1:   #EB1C2C;
$sdgs-goal-2:   #D2A029;
$sdgs-goal-5:   #EE402B;
$sdgs-goal-11:  #F99C26;
$sdgs-goal-15:  #3EB049;

@mixin sdgs-background($color) {
    background-color: rgba($color, .15);
    .node-readmore,
    .panel-heading {
        @include landportal-background($color, $white, $white);
    }
    .node-readmore {
        padding: 2px 5px;
    }
    div[class^="indicator"] {
        background-color: rgba(white, .6);
    }
}

//
// On all SDGs
//
.page-node-52263,
.page-node-61098,
.node-type-sdgi {
    // Title for blocks and fieldset
    .region-content .block-title {
        @include lp-block-title();
    }
    .field-collection-item-field-milestone .field-name-field-description,
    .vocabulary-sdgs-tiers .taxonomy-term-description {
        @extend %lp-font-aside;
    }

    .field-collection-item-field-visualization {
        > .content .field-name-title-field .field-item h3 {
            @include lp-block-title();
        }
        // hide Drupal indicators field
        .field-name-field-indicators {
            display: none;
        }
    }
}

//
// SDGs Landing and about page
//
.page-node-61098,
.page-node-52263 {
    // Hide map block title (from view-coda) / should not be needed anymore?
    // @todo: cleanup
    #block-landbook-vis-map-compare-map .block-title {
        display: none;
    }
    .block-jump-menu {
        padding-bottom: 0 !important;
    }
    #block-views-sdgi-landing {
        @include lp-view-related();
        .view-content-inner .node-teaser .field.field-name-field-orgref .field-items > div{
            padding-left: 0px;
            padding-right: 0px;
            margin-bottom: 0px;
            float: inherit;
            display: inline;
        }
        .view-content-inner .node-teaser .field.field-name-field-orgref .field-items > div:first-child{
            padding-left: 11px;
        }
        .view-content-inner .node-teaser .field.field-name-field-orgref .field-items > div:after{
            content: ', ';
        }
        .view-content-inner .node-teaser .field.field-name-field-orgref .field-items > div:last-child:after{
            content: inherit;
        }
        .view-content-inner .node-teaser .field.field-name-field-orgref .field-items > div:before{
            margin: 0px;
            padding: 0px;
            display: inherit;
        }
        .view-content-inner .node-teaser .field.field-name-field-orgref .field-items:before{
            display: inherit;
        }
        .view-content-inner .node-teaser .field-name-field-authors .field-items > div{
            padding-left: 0px;
            padding-right: 0px;
            margin-bottom: 0px;
            float: inherit;
            display: inline;
        }
        .view-content-inner .node-teaser .field-name-field-authors .field-items > div:first-child{
            padding-left: 0px;
        }
        .view-content-inner .node-teaser .field-name-field-authors .field-items > div:after{
            content: ', ';
        }
        .view-content-inner .node-teaser .field-name-field-authors .field-items > div:last-child:after{
            content: inherit;
        }
        .view-content-inner .node-teaser .field-name-field-authors .field-items > div:before{
            margin: 0px;
            padding: 0px;
            display: inherit;
        }
        .view-content-inner .node-teaser .field-name-field-authors .field-items:before{
            display: inherit;
            content: "";
            vertical-align: baseline;
        }
        .view-content-inner .node-teaser .field-name-field-authors .field-items{
            margin-left: 0px;
        }
    }
}


// SDGs main view
.view-sdgs {
    p {
        @extend %lp-font-small;
    }

    // SDGs Accordion
    &.view-display-id-block_sdgs {
        .panel-heading {
            .panel-title:after {
                @extend .lp-glyphicon;
                content: $glyphicon-sort;
                position: absolute;
                opacity: .8;
                right: $grid-gutter-width / 2;
                top: 0;
                line-height: 50px;
                font-size: 1.2em;
                font-weight: bold;
                color: white;
            }
            img {
                height: 50px;
                width: 50px;
            }
        }
        .views-bootstrap-accordion-plugin-style {
            .panel-heading:hover {
                background-color: blue;
            }
            div[class^="target-"] .views-field-rendered-entity {
                padding-bottom: $grid-gutter-width / 2;
            }
            .views-field-rendered-entity {
                @include clearfix();
            }
            .views-field-view .view-content-inner > div {
                @include clearfix();
                padding-top: $grid-gutter-width / 2;
            }
        }
        // Set background color by Goal in accordion
        .goal-8298 {
            @include sdgs-background($sdgs-goal-1);
        }
        .goal-8303 {
            @include sdgs-background($sdgs-goal-2);
        }
        .goal-8295 {
            @include sdgs-background($sdgs-goal-5);
        }
        .goal-8307 {
            @include sdgs-background($sdgs-goal-11);
        }
        .goal-8306 {
            @include sdgs-background($sdgs-goal-15);
        }
    }

    // SDGs Tier block
    &.view-display-id-tiers {
        @extend %lp-font-small;
        .active {
            background-color: $bg-green;
            color: white;
        }
        .views-row {
            background-color: $grey-lighter;
            padding: 0;
            margin-bottom: 4px;
        }
        // @todo: Cleanup
        .views-row:not(:last-of-type) {
            border: 0;
        }
        .views-field-field-image {
            float: left;
            width: 20%;
            padding-right: 0;
            img {
                width: 100%;
                height: auto;
            }
        }
        .views-field-view {
            float: left;
            width: 80%;
            .views-field-field-id,
            div[class^="tier-"] {
                white-space: nowrap;
                border-left: 2px solid #fff;
                padding: 0 5px;
                float: left;
                width: 25%;
            }
            .views-row {
                background-color: transparent;
                text-align: center;
                border-bottom: 2px solid #fff;
                margin-bottom: 0;
                &:nth-child(even) {
                    background-color: $grey-lighter;
                }
            }
        }
        .view-header {
            ul {
                list-style-type: none;
                padding-left: 0;
            }
            li:before {
                font-size: 1.5em;
                line-height: 1em;
                padding-right: 5px;
            }
            li.t1:before {
                content: "●";
                color: $black;
            }
            li.t2:before {
                content: "●";
                color: $grey;
            }
            li.t3:before {
                content: "○";
                color: $black;
            }
        }
    }
}



//
// SDGs Taxonomy display
//
// Used in the accordion view / where SDGs taxonomy terms
.vocabulary-sdgs.taxonomy-teaser {
    header {
        @extend %lp-font-medium;
        margin: 0;
        @include make-sm-column(3);
        text-align: right;
        .field {
            display: inline-block;
        }
        .field-name-field-sdgs-type {
            padding-right: 5px;
        }
    }
    .taxonomy-term-description {
        @include make-sm-column(9);
    }
}



//
// SDGs Indicators page / node
//
.node-type-sdgi {
    .page-header {
        .field-name-field-sdg {
            @extend %lp-font-normal;
            font-weight: bold;
        }
    }
    // SDGs related content views
    .view-display-id-related {
        .view-content-inner {
            @include landportal-grid(2);
        }
        .node-teaser {
            @include lp-teaser-full-width();
        }
    }
}
// SDGs 'header' block
// Displays on sidebar/top right of all SDGs-related pages
// .region-sidebar-second
// .group-aside .field-name-field-sdg-header
#block-block-12 {
    margin: $grid-gutter-width / 2 0;
}

// View to show SDGi side-header
// Logo+link to SDGs main page, SDGi menu and parent Goal/Target
.view-display-id-sdgi_parents {
    // parent Goal / Target
    .view-content {
        margin: $grid-gutter-width / 2 0;
        .views-field-description {
            @extend %lp-font-aside;
        }
        .views-field-field-image {
            float: left;
            margin-right: 10px;
            width: 50px;
            height: 50px;
        }
    }
}