
// Search form? smells like it
.block-facetapi ul {
    padding: 0;
    input[type="checkbox"] {
        margin: 0 5px;
    }
}

// Search forms
.search-form {
    position: relative;
    // For the main search input field, hide label
    label[for="edit-keys"] {
        @include sr-only;
    }
    .form-item-keys {
        width: 100%;
        padding-right: 100px;
        input {
            width: 100%;
            border-right: 0;
            @include border-right-radius(0);
        }
    }
    //
    .form-submit {
        @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
        border-left: 0;
        @include border-left-radius(0);
        position: absolute;
        width: 100px;
        right: 0;
        top: 0;
    }
}

// Search results
// ol is the 'main'/top element
ol.search-results {
    padding-left: 0;
    list-style: none;
    @include make-sm-column(12);
}

// Search pages
.page-library-search,
.page-search {
    header .block-search {
        display: none;
    }
    // Do NOT display the page title "Search"
    .search-title,
    .page-header {
        @include sr-only;
    }
    .region-sidebar-second {
        margin-top: $grid-gutter-width;
    }
    .region-content section {
        @include make-sm-column(12);
    }
    .search-description {
        font-style: italic;
    }
    .search-snippet {
        font-style: italic;
        font-size: .9em;
    }

    //
    // The form on search pages
    //
    .search-form {
        margin-top: $grid-gutter-width;

        // Pimping the form
        // Layout stuff
        .form-inline {
            position: relative;
        }
        fieldset {
            margin-bottom: $grid-gutter-width / 2;
            .panel-heading {
                padding: 0;
                border-bottom: 0;
            }
        }
    }



    //
    // Results Display
    //
    .spelling-suggestions {
        dt {
            float: left;
            &:after {
                content: ':';
                margin-right: .4em;
            }
        }
    }
}

.form-search {
  .input-group-btn {
    .btn::after {
         content: none;
    }
  }
} 
