
// Twitter
.block-twitter-block {
    background-color: $grey-lighter;
    padding: 0 10px;
    .block-title {
        // For the block bg color
        margin: 0 -10px 10px;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .block-title,
    iframe {
        background-color: $white;
    }
}

// Landportal footer social channels
/* #page-header .block, */
/* .footer .block { */
/*     .list-inline a span.ext { */
/*         display: none; */
/*     } */
/*     .fa { */
/*         text-align: center; */
/*     } */
/*     .fa-border { */
/*         font-size: 1.8em; */
/*         height: 2em; */
/*         width: 2em; */
/*         padding-top: 0.45em; */
/*         padding-left: 0.3em; */
/*         @include border-radius(50%); */
/*     } */
/* } */

/* .footer .block { */
/*     :not(.contextual-links-wrapper) a { */
/*         color: white; */
/*     } */
/* } */

/* #block-landportal-blocks-lp-footer-social>ul { */
/*     li { */
/*         float: left; */
/*         margin-right: .5em; */
/*     } */
/* } */

/* #block-landportal-blocks-lp-share { */
/*     position: fixed; */
/*     right: 0px; */
/*     top: 50%; */
/*     width: 45px !important; */
/*     transform: translate(0px, -50%); */
/*     z-index: 111; */
/*     padding: 0; */
/*     .block-title { display: none; } */

/*     .addtoany_list > a { */
/*         padding: 0; */
/*     } */
/* } */

/* // Add to Any override email color */
/* .addtoany_list { */
/*     .a2a_button_email span { */
/*         background-color: $red !important; */
/*     } */
/*     a span { */
/*         @include border-radius(6px 0 0 6px !important); */
/*         opacity: .7; */
/*     } */
/*     a:hover span { */
/*         opacity: 1; */
/*     } */
/* } */
