//
// For taxonomy terms
//

$lp-icons-size: 75px;

// Apply to ALL taxonomy terms / displays
.taxonomy-term {
    .field-name-field-image img {
        max-width: 100%;
        height: auto;
    }
    &.taxonomy-teaser {
        @extend %lp-body-teaser;
    }

    // Hide iso3 code in field-iso3
    // This only work on LP geo module which add a glyphicon to this field output
    // and wrap the field value in a span with an iso3 class
    .field-name-field-iso3 .field-item .iso3 { display: none; }
}

// Specific vocabularies
// Geo
.page-countries .page-header, // Country related content views
.page-taxonomy-regions .page-header,
.vocabulary-regions {
    .field-name-name-field,
    .field-name-field-iso2,
    .field-name-field-iso3 {
        display: inline-block;
    }
    .field-name-field-iso2,
    .field-name-field-iso3 {
        margin: 0 5px;
    }
}

.page-countries .page-header, // Country related content views
.page-taxonomy-regions .page-header {
    .field-name-field-iso2 {
        float: right;
        font-size: $lp-icons-size;
    }
}

// Theme & OA
.page-issues .page-issues, // Issues related content views
.page-taxonomy-overarching-categories .page-header,
.vocabulary-overarching-categories,
.page-taxonomy-themes .page-header,
.vocabulary-themes {
    .field-name-field-image {
        position: absolute;
        top: 0;
        right: 0;
        width: $lp-icons-size;
    }
    .field-name-name-field {
        margin-right: 50px;
    }
}


.page-taxonomy-themes .page-header .field-name-name-field {
    margin-right: 50px;
    float: left;
}

.page-taxonomy-themes .page-header .field-name-field-image {
    position: unset;
    top: unset;
    right: unset;
    width: 75px;
    float: right;
}

//
// For taxonomy page (full)
//
.page-taxonomy {
    .taxonomy-full {
        @include lp-body();
    }
    .group-main {
        @include lp-content-main();
    }
    .group-aside {
        @include lp-content-aside();
    }
}



//
// Land Portal tags
//

// Decorate LandVoc + Geographical Focus
.field-name-field-related-domains .field-item {
    @include lp-tags($label-category);
}
.field-name-field-related-themes .field-item {
    @include lp-tags($label-theme);
}
.field-name-field-related-topics .field-item {
    @include lp-tags($label-concept);
}
.group-topics-regions .field-name-field-geographical-focus .field-item {
    @include lp-tags($label-geo);
}

// Geo + LandVoc : hide them in teasers
.node-listing,
.node-teaser,
.taxonomy-teaser {
    .group-landvoc,
    .group-topics-regions {
        display: none;
    }
}

// All terms in group landvoc (OAs, themes, concepts) display inline
.group-landvoc {
    .field-items,
    .field {
        display: inline;
    }
}

// LLR teasers & list display
.taxonomy-custom_teaser_ > .content {
    > header > .field-name-name-field,
    > .field {
        @include make-xs-column(9);
        float: right;
    }
    > header > .field-name-field-image {
        @include make-xs-column(3);
        @media #{$tablet} {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.page-voc-landvoc-concept .view-landvoc-concepts ol {
  list-style-type: disc;
}
.page-node-30281 .view-landvoc-concepts ol {
  list-style-type: disc;
}

.page-taxonomy-term .group-aside {
  background-color: #EBEBE5;
}
