@mixin lp-profile-teaser() {
    position: relative;
    text-align: center;
    .group-name {
        width: 100%;
        //position: absolute;
        //bottom: 0;
        z-index: 3;
        background-color: rgba($black, .8);
        color: white;
        padding: 5px 3px;
        font-size: .8em;
        width: 100px;
    }
    .field-name-field-image {
      img {
        width:unset !important;
      }
    }
}


//
// Public profiles
//
.profile2-main {
    @include clearfix();
    .field-name-field-image {
        width: initial;
        margin: 0;
        padding: 0;
    }
    .group-name {
        .field {
            display: inline-block;
        }
        .field-name-field-lastname {
          margin-left: 5px;
        }
    }
    
}

// Profile teasers
.profile .teaser,
.field-name-field-authors {
    .profile2-main {
        @include lp-profile-teaser();
    }
}

.entity-profile2 {
    @include lp-profile-teaser();
}

// A specific / single user page
.page-user {
    .page-header {
        display: none;
    }
    .profile2-main .content> {
        .field,
        .field-name-field-description,
        .group-details,
        .group-name {
            @include make-sm-column(8);
            //@extend .pull-right;
        }
        .group-topics-regions,
        .field-name-field-image {
            @include make-sm-column(4);
            float: left;
            text-align: right;
            clear: left;
        }
        .group-details {
            float: left;
        }
    }
}



//
// User edit account page
//
#user-register-form,
#user-profile-form {
    .field-name-field-image {
        @include make-md-column(3);
        .help-block {
            display: none; // buggy
        }
    }
    .field-name-field-description {
        padding-top: $grid-gutter-width / 2;
        @include make-md-column(9);
    }
    .field-name-field-location {
        @include make-md-column(12);
    }
    .field-name-field-image,
    .field-name-field-description,
    .field-name-field-location {
        padding-left: 0;
        padding-right: 0;
    }
}

.view-id-people .views-field .entity-profile2 {
  text-align: unset;
  .field-name-field-title, .field-name-field-firstname, .field-name-field-lastname {
    margin-left: 5px;
  }
}


.profile .full .entity-profile2 {
  text-align: unset;
}
