//
// Land Book Visualization style (for js-view-coda)
//
.view-coda {
    position: relative;
    overflow-wrap: break-word;
    // Hide Drupal indicators (select in vis. block) rendered elements
    .field-name-field-indicators {
        display: none;
    }
    // Highcharts
    .highcharts-title,
    .highcharts-subtitle {
        text-align: center;
    }
    //
    .loading {
        text-align: center;
        font-size: 1.4em;
    }
    .view-coda-vis {
        padding: 0;
    }
    footer {
        font-size: .8em;
    }
}

// Forms
.view-coda-form {
    padding: $grid-gutter-width / 2 0;
    &.form-items-2 > div > * {
        @include make-xs-column(6);
    }
    &.form-items-3  > div > * {
        @include make-xs-column(4);
    }
    &.form-items-4  > div > * {
        @include make-xs-column(6);
    }
    .form-type-checkbox {
        float: left;
        clear: left;
    }
    .form-item select {
        width: 100%;
    }
    > div {
        @include make-row();
        .form-item:not(:first-of-type) {
            padding-left: 0;
        }
        > .form-item-indicator {
            @include make-sm-column(7);
            @include make-md-column(8);
        }
        > .form-item-country,
        > .form-item-year {
            @include make-sm-column(3);
        }
        > .actions {
            @include make-sm-column(2);
            @include make-md-column(1);
            text-align: right;
        }
    }
}

/* .view-coda-map, */
/* .view-coda-table, */
/* .view-coda-ranking { */
/*     .view-coda-form { */
/*         .form-item-year { */
/*             @include make-sm-column(3); */
/*         } */
/*     } */
/* } */
/* .view-coda-map .view-coda-form { */
/*     .form-item-indicator { */
/*         @include make-sm-column(8); */
/*     } */
/* } */
.view-coda-charts .view-coda-form {
    &.form-items-4 .form-item-indicator {
        @include make-sm-column(4);
    }
    .years {
        padding: 0;
    }
    .form-item-to,
    .form-item-from {
        padding-right: $grid-gutter-width / 2;
        @media #{$mobile} {
            padding-left: $grid-gutter-width / 2;
        }
        float: left;
        width: 50%;
    }
}

.view-coda-table {
    /* .indicator { */
    /*     font-size: 1.2em; */
    /* } */
    .table > tbody > tr > td {
        vertical-align: middle;
    }
    table {
        @extend .table-striped;
        background-color: inherit;
        font-size: .9em;
        @include box-shadow(0 2px 20px 0 rgba(0, 0, 0, 0.15));
        margin-bottom: 20px;
        th, td {
            min-height: 40px;
            &:not(:first-of-type) {
                text-align: center;
            }
        }
        thead {
            @include landportal-background($bg-green, $white);
            text-transform: uppercase;
            th:last-of-type {
                text-align: center;
            }
        }
    @media #{$mobile} {
        overflow-y: scroll;
    }
    }
}

.view-coda-pie,
.view-coda-spider {
    div[id$="-wrapper"] { min-height: 400px; }
}


.view-coda-ranking {
    .view-coda-vis ul {
        padding: 0;
        @include box-shadow(0 2px 20px 0 rgba(0, 0, 0, 0.15));
    }
    .value-a {
        background-color: $bg-green;
    }
    .value-b {
        background-color: $bg-yellow;
    }
    .value-c {
        background-color: $bg-red;
    }
    .value-na {
        background-color: #CCC;
    }
}


// Ranking viualizations
.view-coda-ranking {
    li {
        @include clearfix;
        clear: both;
        list-style: none;
        background-color: white;
        border-bottom: 1px solid $grey-lighter;
        &:last-of-type { border-bottom: 0; }
        .flag-icon {
            font-size: 50px;
            margin: .2em;
        }
        &.expand {
            a {
                cursor: pointer;
                display: block;
                padding: .5em 0;
                width: 100%;
            }
            margin: .5em 0;
        }
        .value {
            font-size: 1.2em;
            padding-top: .5em;
        }
    }
    span.rank {
        position: absolute;
        border: 2px solid #FFFFFF;
        background-color: $bg-green;
        color: white;
        display: inline-block;
        height: 32px;
        width: 32px;
        font-size: 14px;
        padding-top: 4px;
        text-align: center;
        font-weight: bold;
        z-index: 2;
        @include border-radius(16px);
    }
}



//
// Blocks & specific vis settings
//

// Set minimum height so page does not 'reflow' too much
//.field-name-field-visualization .view-coda-map,
//.map-fluid,
div[id$='-map-wrapper'] {
    min-height: 500px;
}
#block-landbook-view-coda-lbvc-map-country {
    min-height: 200px;
}
#block-landbook-view-coda-lbcp-linechart {
    min-height: 600px;
}

/* LGAF Chart */
#block-landbook-vggt-vis-vggt,
#block-landbook-lgaf-vis {
    header {
        @include clearfix();
    }
    .legend li,
    .view-coda-vis ul {
        @include box-shadow(0 2px 20px 0 rgba(0, 0, 0, 0.15));
    }
    &.view-coda li {
        position:relative;
        padding: 15px 20px;
        background-color: #FFFFFF;
        &:not(:last-of-type) {
            border-bottom: 2px solid #F2F2F2;
        }
        span[class*="value"] {
            margin-right: .5em;
            width: 1em;
            height: 1em;
            display: inline-block;
            @include border-radius(20px);
            &:nth-child(2) {
                width: .5em;
                margin-left: -1em;
                @include border-radius(0 20px 20px 0);
            }
        }
    }
    .legend {
        font-size: .8em;
        padding: 5px;
        li { margin: 4px 2px; }
    }
}

#block-landbook-lgaf-vis {
    .value-c {
        background-color: $bg-orange;
    }
    .value-d {
        background-color: $bg-red;
    }
}



//
// Node form
//
.page-field-collection-field-visualization,
.page-node-edit .field-name-field-visualization {
    div[class*="form-item-field-view-coda-und-"][class*="-vcc"] {
        display: none;
    }
    .field-type-field-view-coda-vis {
        @include make-sm-column(12);
    }
}
